<div class="sidebar-section-item fadeable-left">
  
    <div class="fadeinable sidebar-shortcuts-mini">
        <span class="btn btn-success p-0"></span>
        <span class="btn btn-info p-0"></span>
        <span class="btn btn-warning p-0"></span>
        <span class="btn btn-danger p-0"></span>
    </div>

    <div class="fadeable">
     <div class="sub-arrow"></div>
     <div>
        <button class="btn btn-smd btn-success">
          <i class="fa fa-signal"></i>
        </button>

        <button class="btn btn-smd btn-info">
          <i class="fa fa-edit"></i>
        </button>

        <button class="btn btn-smd btn-warning">
          <i class="fa fa-users"></i>
        </button>

        <button class="btn btn-smd btn-danger">
          <i class="fa fa-cogs"></i>
        </button>
     </div>
    </div>

</div>

 
<div class="sidebar-section-item">
      <i class="fadeinable fa fa-search text-info mr-n1"></i>

      <div class="fadeable d-inline-flex align-items-center ml-3 ml-lg-0">
        <i class="fa fa-search mr-n3 text-info"></i>
        <input type="text" class="sidebar-search-input pl-4 pr-3 mr-n2" maxlength="60" placeholder="Search ..." aria-label="Search" aria-describedby="basic-search" />
        <a href="#"><i class="fa fa-microphone text-muted ml-n1"></i></a>
      </div>
</div>
