 <div class="row col-lg-10 d-flex justify-content-center mx-1 mx-lg-auto mt-3">
    <div class="col-12 col-sm-6 col-lg-3 px-2 dh-zoom-1">
        <div data-aos="fade-right" data-aos-delay="200" class="d-style w-100 border-none radius-b-1 overflow-hidden text-center border-t-3 my-1 pb-0 px-0 shadow btn-bgc-white btn btn-outline-default btn-h-outline-blue btn-h-bgc-white btn-a-outline-blue btn-a-bgc-white">
            
            <div class="d-flex flex-column align-items-center">

                <h4 class="d-inline-block pt-1 pb-15 px-4 radius-4 text-110 bgc-blue-l2 text-blue-d3 my-3 radius-1">
                    Basic
                </h4>

                <div class="text-secondary text-130">
                    $<span class="text-200">10</span> / month
                </div>

                <hr class="w-90 my-4 brc-grey-l2" />

                <div class="flex-grow-1 text-grey text-90 w-100">
                    <ul class="list-unstyled text-left mx-auto mb-0">
                        <li class="d-flex align-items-start mx-4">
                            <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                            <div>
                                <span class="text-110">Donec id elit.</span>
                                Fusce dapibus...
                            </div>
                        </li>

                        <li class="d-flex align-items-start mt-3 mx-4">
                            <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                            <div>
                                <span class="text-110 ">Placerat duis</span>
                            </div>
                        </li>

                        <li class="d-flex align-items-start mt-3 mx-4">
                            <i class="fa fa-times text-danger-m3 text-110 mr-2 mt-1"></i>
                            <div>
                                <span class="text-110">Tortor mauris</span>
                            </div>
                        </li>

                        <li class="mt-45 text-center pos-rel">
                            <span class="position-tl w-100 v-hover">
                                <a href="#" class="btn radius-0 btn-blue py-3 border-0 btn-block px-3 btn-bold text-105">Start Now</a>
                            </span>
                            <span class="pos-rel v-n-hover">
                                <a href="#" class="btn radius-0 btn-default py-3 border-0 btn-block px-3 btn-bold text-105">Start Now</a>                            
                            </span>
                        </li>
                    </ul>
                </div>

            
            </div>

        </div>
    </div>


    <div class="col-12 col-sm-6 col-lg-3 px-2 dh-zoom-1 mt-lg-n3">
        <div data-aos="fade" data-aos-delay="100" class="d-style active w-100 border-none radius-b-1 overflow-hidden text-center border-t-3 my-1 pb-0 px-0 shadow btn-bgc-white btn btn-outline-default btn-h-outline-success btn-h-bgc-white btn-a-outline-success btn-a-bgc-white">
            
            <div class="d-flex flex-column align-items-center">

                <h4 class="d-inline-block pt-1 pb-15 px-4 radius-4 text-110 bgc-success-l2 text-success-d3 my-3 radius-1">
                    Pro
                </h4>

                <div>
                    <div>
                        <s class="text-secondary-m3">$<span class="text-110">30</span> / month</s>
                    </div>
                    <div class="text-130">
                        <span class="text-success-d1">$<span class="text-200">20</span> / month</span>
                    </div>
                </div>

                <span class="mt-2 badge badge-lg bgc-red text-white brc-red arrowed-in arrowed-in-right">Special offer</span>

                <hr class="w-90 my-4 brc-grey-l2" />

                <div class="flex-grow-1 text-grey text-90 w-100">
                    <ul class="list-unstyled text-left mx-auto mb-0">
                        <li class="d-flex align-items-start mx-4">
                            <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                            <div>
                                <span class="text-110 text-1">
                                    Everything in Basic...
                                </span>
                            </div>
                        </li>

                        <li class="d-flex align-items-start mt-3 mx-4">
                            <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                            <div>
                                <span class="text-110">Non diam phasellus</span>
                            </div>
                        </li>

                        <li class="d-flex align-items-start mt-3 mx-4">
                            <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                            <div>
                                <span class="text-110">Sed adipiscing diam</span>
                            </div>
                        </li>

                        <li class="mt-45 text-center">
                            <a href="#" class="btn radius-0 btn-success py-3 border-0 btn-block px-3 btn-bold text-105">Start Now</a>
                        </li>
                    </ul>
                </div>

            
            </div>

        </div>
    </div>


    <div class="col-12 col-sm-6 col-lg-3 px-2 dh-zoom-1">
        <div  data-aos="fade-left" data-aos-delay="200" class="d-style w-100 border-none radius-b-1 overflow-hidden text-center border-t-3 my-1 pb-0 px-0 shadow btn-bgc-white btn btn-outline-default btn-h-outline-purple btn-h-bgc-white btn-a-outline-purple btn-a-bgc-white">
            
            <div class="d-flex flex-column align-items-center">

                <h4 class="d-inline-block pt-1 pb-15 px-4 radius-4 text-110 bgc-purple-l2 text-purple-d2 my-3 radius-1">
                    Max
                </h4>

                <div class="text-secondary text-130">
                    $<span class="text-200">50</span> / month
                </div>

                <hr class="w-90 my-4 brc-grey-l2" />

                <div class="flex-grow-1 text-grey text-90 w-100">
                    <ul class="list-unstyled text-left mx-auto mb-0">
                        <li class="d-flex align-items-start mx-4">
                            <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                            <div>
                                <span class="text-110">
                                Everything in Pro...
                                </span>
                            </div>
                        </li>

                        <li class="d-flex align-items-start mt-3 mx-4">
                            <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                            <div>
                                <span class="text-110">In fermentum et</span>
                            </div>
                        </li>

                        <li class="d-flex align-items-start mt-3 mx-4">
                            <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                            <div>
                                <span class="text-110">Molestie nunc non.</span>
                            </div>
                        </li>

                        <li class="mt-45 text-center pos-rel">
                            <span class="position-tl w-100 v-hover">
                                <a href="#" class="btn radius-0 btn-purple py-3 border-0 btn-block px-3 btn-bold text-105">Start Now</a>
                            </span>
                            <span class="pos-rel v-n-hover">
                                <a href="#" class="btn radius-0 btn-default py-3 border-0 btn-block px-3 btn-bold text-105">Start Now</a>                            
                            </span>
                        </li>
                    </ul>
                </div>

            
            </div>

        </div>
    </div>

</div>