<div class="col-sm-5 mx-auto d-block btn-group btn-group-toggle" data-toggle="buttons">

    <label class="d-style d-block border-l-3 py-3 mb-2 btn btn-outline-light btn-h-outline-purple btn-a-outline-purple radius-1">
        <input type="radio" name="payments" id="payments1" autocomplete="off" />
        <div class="d-flex align-items-center">
            
            <div class="w-6 pos-rel">
                <div class="v-active bgc-success-tp2 radius-round py-1 position-lc">
                    <i class="fa fa-check text-white px-2"></i>
                </div>
                <div class="v-n-active px-2 position-lc">
                    <i class="fa fa-circle text-secondary-l3 text-90"></i>
                </div>
            </div>

            <div class="text-600 text-purple-m1 text-left flex-grow-1">
                Visa/Mastercard
                <br />
                <span class="text-muted font-light">
                    flexible
                </span>
            </div>

            <div class="mr-3">
                <i class="fab fa-cc-mastercard text-200 text-purple-d1"></i>
            </div>
        
        </div>
    </label>

    <label class="d-style d-block border-l-3 py-3 mb-2 btn btn-outline-light btn-h-outline-primary btn-a-outline-primary radius-1">
        <input type="radio" name="payments" id="payments2" autocomplete="off" />
        <div class="d-flex align-items-center">

            <div class="w-6 pos-rel">
                <div class="v-active bgc-success-tp2 radius-round py-1 position-lc">
                    <i class="fa fa-check text-white px-2"></i>
                </div>
                <div class="v-n-active px-2 position-lc">
                    <i class="fa fa-circle text-secondary-l3 text-90"></i>
                </div>
            </div>
            
            <div class="text-600 text-blue text-left flex-grow-1">
                Paypal
                <br />
                <span class="text-muted font-light">
                    fast &amp; easy
                </span>
            </div>

            <div class="mr-3">
                <i class="fab fa-cc-paypal text-200 text-blue-m3"></i>
            </div>
        
        </div>
    </label>

    <label class="d-style d-block border-l-3 py-3 mb-2 btn btn-outline-light btn-h-outline-warning btn-a-outline-warning radius-1">
        <input type="radio" name="payments" id="payments3" autocomplete="off" />
        <div class="d-flex align-items-center">

            <div class="w-6 pos-rel">
                <div class="v-active bgc-success-tp2 radius-round py-1 position-lc">
                    <i class="fa fa-check text-white px-2"></i>
                </div>
                <div class="v-n-active px-2 position-lc">
                    <i class="fa fa-circle text-secondary-l3 text-90"></i>
                </div>
            </div>
            
            <div class="text-600 text-orange-d1 text-left flex-grow-1">
                Bitcoin
                <br />
                <span class="text-muted font-light">
                    state of the art
                </span>
            </div>

            <div class="mr-3">
                <i class="fab fa-bitcoin text-200 text-warning"></i>
            </div>
        
        </div>
    </label>

</div>