<div class="form-group form-row">
    <div class="col-sm-3 col-form-label text-sm-right text-grey">
        Input with warning
    </div>

    <div class="col-sm-9">
        <div class="d-inline-flex align-items-center col-12 col-sm-7 px-0">
            <input type="text" class="form-control form-control col-12 text-dark-m2 brc-warning pr-45 pl-2" placeholder="" />
            <i class="fas fa-exclamation-triangle text-orange text-125 ml-n425 pos-rel"></i>
        </div>

        <span class="form-text d-inline-block text-orange-d2 text-600 text-95 ml-sm-2"> Warning tip help! </span>
    </div>
</div>


<div class="form-group form-row">
    <div class="col-sm-3 col-form-label text-sm-right text-danger-m1">
        Input with error
    </div>

    <div class="col-sm-9">
        <div class="d-inline-flex align-items-center col-12 col-sm-7 px-0">
            <input type="text" class="form-control form-control-lg col-12 brc-danger-m1 pr-45 pl-25" placeholder="" />
            <i class="fas fa-times-circle text-danger-m2 text-125 ml-n425 pos-rel"></i>
        </div>


        <div class="d-none d-sm-inline-block form-text ml-sm-2 popover brc-danger-m3 border-2 bs-popover-right">
            <div class="arrow brc-danger-m1 mt-0"></div>
            <div class="popover-body text-dark-tp4 text-110">Vivamus sagittis lacus vel augue.</div>
        </div>

        <span class="d-inline-block d-sm-none form-text text-danger-m1 text-600 text-95 ml-sm-2"> Vivamus sagittis lacus vel augue. </span>
    </div>
</div>


<div class="form-group form-row">
    <div class="col-sm-3 col-form-label text-sm-right text-success-d2">
        Input with success
    </div>

    <div class="col-sm-9">
        <div class="d-inline-flex align-items-center col-12 col-sm-7 px-0">
            <input type="text" class="form-control form-control-lg col-12 brc-success pr-45" placeholder="" />
            <i class="fas fa-check-circle text-success text-125 ml-n425 pos-rel"></i>
        </div>

        <span class="form-text d-inline-block text-success-d1 ml-sm-2"> Success message! </span>
    </div>
</div>

<div class="form-group form-row">
    <div class="col-sm-3 col-form-label text-sm-right text-info-d2">
        Input with info
    </div>

    <div class="col-sm-9">
        <div class="d-inline-flex align-items-center col-12 col-sm-7 px-0 pos-rel">
            <i class="fas fa-info-circle text-info text-125 position-lc ml-2"></i>
            <input type="text" class="form-control form-control-lg brc-info-m1 pl-45" placeholder="" />
        </div>

        <span class="form-text d-inline-block text-blue-d1 ml-sm-2"> Info tip! </span>
    </div>
</div>

<div class="form-group form-row">
    <div class="col-sm-3 col-form-label text-sm-right">
        Input with error
    </div>

    <div class="col-sm-9">
        <div class="d-inline-flex align-items-center col-sm-7 px-0 pos-rel">
            <i class="fa fa-times text-danger-m2 text-125 position-lc ml-2 pl-2px"></i>
            <input type="text" class="form-control pl-425" placeholder="" />
        </div>

        <span class="form-text d-inline-block text-danger-m1 ml-sm-2"> Error tip! </span>
    </div>
</div>