<div class="row justify-content-center mt-3">
    <div class="col-12 col-lg-9 text-center">

        <div class="d-flex text-140 text-secondary-d1 mb-4 pb-2 border-b-2 brc-secondary-l1">
            <span>Select your plan</span>

            <div class="ml-auto">
                <span class="text-secondary text-sm">Currency : </span>
                <div class="btn-group">
                    <button type="button" class="btn btn-xs radius-1 border-b-2 btn-outline-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Change Currency</span>
                        USD
                    </button>
                    <div class="dropdown-menu dropdown-menu-right radius-1">
                        <a class="dropdown-item active" href="#">USD</a>
                        <a class="dropdown-item" href="#">EUR</a>
                        <a class="dropdown-item" href="#">GBP</a>
                        <a class="dropdown-item" href="#">CAD</a>
                        <a class="dropdown-item" href="#">AUD</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-md px-4 btn-outline-default btn-h-outline-default btn-a-default border-2 active">
                <input type="radio" name="options" id="option1" autocomplete="off" checked />
                Bill Monthly
                <br />
                <span class="badge text-default-d2 bgc-default-l3 border-1">
                    Pay as you go!
                </span>
            </label>
            <label class="btn px-4 btn-md btn-outline-success btn-h-outline-success btn-a-success border-2">
                <input type="radio" name="options" id="option2" autocomplete="off" /> 
                Bill Annually
                <br />
                <span class="badge text-success bgc-yellow-m4 border-1 brc-success-m1 ">
                    Save 20%
                </span>
            </label>
        </div>

            
        <hr class="mt-4" />

    </div>
 </div>






 <div class="row d-flex justify-content-center mx-1 mx-lg-0 mt-3">
    <div class="col-12 col-sm-6 col-lg-3 px-2">
        <div class="d-style w-100 border-t-3 my-1 pb-3 btn btn-outline-light btn-h-outline-blue btn-h-bgc-white btn-a-outline-blue btn-a-bgc-white">
            
            <div class="d-flex flex-column align-items-center">

                <h4 class="w-90 pb-1 text-140 text-blue-m3 mt-2 mb-3 border-b-2 brc-grey-l2">
                    <i>Basic</i>
                </h4>

                <div class="mb-2 px-2 radius-round bgc-blue-l4 text-blue-m1 py-25 border-1 brc-default-m4">
                    <i class="w-6 fas fa-running fa-2x"></i>
                </div>

                <div class="text-secondary-m1">
                    $<span class="text-200">10</span> / month
                </div>

                <hr class="w-90 my-4 brc-grey-l2" />

                <div class="flex-grow-1 text-grey-m1 text-90 w-90">
                    <ul class="list-unstyled text-left mx-auto mb-1">
                        <li class="d-flex align-items-start">
                            <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                            <div>
                                <span class="text-110">Donec id elit.</span>
                                Fusce dapibus...
                            </div>
                        </li>

                        <li class="d-flex align-items-start mt-25">
                            <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                            <div>
                                <span class="text-110 ">Placerat duis</span>
                            </div>
                        </li>

                        <li class="d-flex align-items-start mt-25">
                            <i class="fa fa-times text-danger-m3 text-110 mr-2 mt-1"></i>
                            <div>
                                <span class="text-110">Tortor mauris</span>
                            </div>
                        </li>

                        <li class="mt-3 text-center">
                            <hr class="my-4 brc-grey-l2" />
                            <a href="#" class="pos-abs v-n-active btn btn-outline-default px-3 btn-bold">Start Now</a>
                            <a href="#" class="pos-rel v-active btn btn-blue px-3 btn-bold">Start Now</a>
                        </li>
                    </ul>
                </div>

            
            </div>

        </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-3 px-2 mt-2 mt-sm-0">
        <div class="d-style active w-100 shadow-sm border-t-3 my-1 pb-3 btn btn-outline-light btn-h-outline-blue btn-h-bgc-white btn-a-outline-blue btn-a-bgc-white">
            
            <div class="d-flex flex-column align-items-center">
                <h4 class="w-90 pb-1 text-160 text-orange mt-2 mb-3 border-b-2 brc-grey-l2">
                    <i>Pro</i>
                </h4>

                <span class="position-tr mt-n25 mr-2px">
                    <span class="badge badge-warning arrowed-in arrowed-in-right">Special offer</span>
                </span>

                <div class="mb-2 px-3 radius-round bgc-warning-l3 py-25 border-1 brc-warning-m4">
                    <i class="w-6 fas fa-shipping-fast fa-2x text-dark-tp5"></i>
                </div>

                <div>
                    <div>
                        <s class="text-secondary-m3">$<span class="text-110">30</span> / month</s>
                    </div>
                    <div>
                        <span class="text-orange-d1">$<span class="text-200">20</span> / month</span>
                    </div>
                </div>

                <hr class="w-90 my-4 brc-grey-l1" />

                <div class="flex-grow-1 text-grey-m1 text-90 w-90">
                    <ul class="list-unstyled text-left mx-auto mb-1">
                        <li class="d-flex align-items-start mb-3">
                            <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                            <div>
                                <span class="text-110 text-1">
                                    Everything in Basic...
                                </span>
                            </div>
                        </li>

                        <li class="d-flex align-items-start">
                            <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                            <div>
                                <span class="text-110">Non diam phasellus</span>
                            </div>
                        </li>

                        <li class="d-flex align-items-start mt-25">
                            <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                            <div>
                                <span class="text-110">Sed adipiscing diam</span>
                            </div>
                        </li>

                        <li class="d-flex align-items-start mt-25">
                            <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                            <div>
                                <span class="text-110 ">Tortor mauris</span>
                            </div>
                        </li>

                        <li class="mt-3 text-center">
                            <hr class="my-4 brc-grey-l1" />
                            <a href="#" class="pos-abs v-n-active btn btn-outline-default px-3 btn-bold">Start Now</a>
                            <a href="#" class="v-active btn btn-blue px-3 btn-bold">Start Now</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>

    <div class="col-12 col-sm-6 col-lg-3 px-2 mt-2 mt-lg-0">
        <div class="d-style w-100 border-t-3 my-1 pb-3 btn btn-outline-light btn-h-outline-success btn-h-bgc-white btn-a-outline-success btn-a-bgc-white">
            
            <div class="d-flex flex-column align-items-center">

                <h4 class="w-90 pb-2 text-130 text-success-m2 mt-2 mb-4 border-b-2 brc-grey-l2">
                    <i>Premium</i>
                </h4>


                <div class="mb-2 w-50 mt-n1 px-2 radius-round bgc-success-l3 py-25 border-1 brc-success-m4">
                    <i class="w-6 rotate-n45 fas fa-plane fa-2x text-success-m1"></i>
                </div>

                <div class="text-secondary-m1">
                    $<span class="text-200">50</span> / month
                </div>

                <hr class="w-90 my-4 brc-grey-l2" />

                <div class="flex-grow-1 text-grey-m1 text-90 w-90">
                    <ul class="list-unstyled text-left mx-auto mb-1">
                        <li class="d-flex align-items-start mb-3">
                            <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                            <div>
                                <span class="text-110">
                                Everything in Pro...
                                </span>
                            </div>
                        </li>

                        <li class="d-flex align-items-start">
                            <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                            <div>
                                <span class="text-110">In fermentum et</span>
                            </div>
                        </li>

                        <li class="d-flex align-items-start mt-25">
                            <i class="fa fa-check text-success-m2 text-110 mr-2 mt-1"></i>
                            <div>
                                <span class="text-110">Molestie nunc non.</span>
                            </div>
                        </li>

                        <li class="mt-3 text-center">
                            <hr class="my-4 brc-grey-l1" />
                            <a href="#" class="pos-abs v-n-active btn btn-outline-default px-3 btn-bold">Start Now</a>
                            <a href="#" class="v-active btn btn-blue px-3 btn-bold">Start Now</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>

</div>