<div class="row text-95">
    <div class="col-12 col-md-4 pr-0 border-1 brc-transparent">
        <ul class="list-unstyled text-grey-d2">
                <li class="text-130 py-2">
                    &nbsp;
            </li>
            <li class="text-200 pb-1 border-b-2 brc-primary-l2">
                <span class="text-70 text-blue-d1 pl-2">
                    Choose your plan
                </span>
                &nbsp;
            </li>

            <li class="py-2 pl-25">Disk Space</li>
            <li class="py-2 pl-25 bgc-success-l4">Bandwidth</li>
            <li class="py-2 pl-25">Email Accounts</li>
            <li class="py-2 pl-25 bgc-success-l4">MySQL Databases</li>
            <li class="py-2 pl-25">Ad Credit</li>
            <li class="py-2 pl-25 bgc-success-l4">Free Domain</li>
        </ul>
    </div>
    

    <div class="col-12 col-md-8">
        <div class="row">
            <div class="pricing-col col-6 col-sm-3 border-1 btn-light-light btn-h-light-blue bg-white radius-1 px-0  mx-n2px">
                <ul class="list-unstyled text-center m-0 text-grey-d2">
                    <li>
                        <div class="text-white text-130 bgc-blue-tp2 py-2">Basic</div>
                    </li>
                    <li class="mb-2px">
                        <div class="text-dark-tp4 bgc-blue-l2 pb-1">
                            $<span class="text-200">10</span>/month
                        </div>
                    </li>

                    <li class="py-2">10 GB</li>
                    <li class="py-2 bgc-secondary-l4">200 GB</li>
                    <li class="py-2">100</li>
                    <li class="py-2 bgc-secondary-l4">10</li>
                    <li class="py-2"><i class="fa fa-times text-danger-m3"></i></li>
                    <li class="py-2 bgc-secondary-l4"><i class="fa fa-times text-danger-m3"></i></li>
                    <li class="py-2">
                        <a href="#" class="my-2 btn btn-outline-blue btn-bold px-4">Order</a>
                    </li>
                </ul>
                <div class="position-bc w-100 border-t-1 brc-blue-m2 mt-1px"></div>
            </div>

            <div class="pricing-col col-6 col-sm-3 border-1 btn-light-light btn-h-light-success bg-white radius-1 px-0  mx-n2px">
                <ul class="list-unstyled text-center m-0 text-grey-d2">
                    <li>
                        <div class="text-white text-130 bgc-success-tp2 py-2">Starter</div>
                    </li>
                    <li class="mb-2px">
                        <div class="text-dark-tp4 bgc-success-l2 pb-1">
                            $<span class="text-200">15</span>/month
                        </div>
                    </li>

                    <li class="py-2">50 GB</li>
                    <li class="py-2 bgc-secondary-l4">1 TB</li>
                    <li class="py-2">1000</li>
                    <li class="py-2 bgc-secondary-l4">100</li>
                    <li class="py-2"><i class="fa fa-times text-danger-m3"></i></li>
                    <li class="py-2 bgc-secondary-l4">1</li>
                    <li class="py-2">
                        <a href="#" class="my-2 btn btn-outline-success btn-bold px-4">Order</a>
                    </li>
                </ul>
                <div class="position-bc w-100 border-t-1 brc-success-m2 mt-1px"></div>
            </div>

            <div class="pricing-col col-6 col-sm-3 border-1 btn-light-light btn-h-light-warning bg-white radius-1 px-0 mx-n2px">
                <ul class="list-unstyled text-center m-0 text-grey-d2">
                    <li>
                        <div class="text-white text-130 bgc-warning-tp2 py-2">Business</div>
                    </li>
                    <li class="mb-2px">
                        <div class="text-dark-tp4 bgc-warning-l2 pb-1">
                            $<span class="text-200">25</span>/month
                        </div>
                    </li>

                    <li class="py-2">500 GB</li>
                    <li class="py-2 bgc-secondary-l4">5 TB</li>
                    <li class="py-2">1000</li>
                    <li class="py-2 bgc-secondary-l4"><i class="fas fa-infinity text-orange-m2"></i></li>
                    <li class="py-2">$50</li>
                    <li class="py-2 bgc-secondary-l4">3</li>
                    <li class="py-2">
                        <a href="#" class="my-2 btn btn-outline-warning btn-bold px-4">Order</a>
                    </li>
                </ul>
                <div class="position-bc w-100 border-t-1 brc-warning-m2 mt-1px"></div>
            </div>

            <div class="pricing-col col-6 col-sm-3 border-1 btn-light-light btn-h-light-purple bg-white radius-1 px-0 mx-n2px">
                <ul class="list-unstyled text-center m-0 text-grey-d2">
                    <li>
                        <div class="text-white text-130 bgc-purple-tp2 py-2"><i class="fas fa-infinity text-xs mr-1"></i>Unlimited</div>
                    </li>
                    <li class="mb-2px">
                        <div class="text-dark-tp4 bgc-purple-l2 pb-1">
                            $<span class="text-200">50</span>/month
                        </div>
                    </li>

                    <li class="py-2"><i class="fas fa-infinity text-purple-m3"></i></li>
                    <li class="py-2 bgc-secondary-l4"><i class="fas fa-infinity text-purple-m3"></i></li>
                    <li class="py-2"><i class="fas fa-infinity text-purple-m3"></i></li>
                    <li class="py-2 bgc-secondary-l4"><i class="fas fa-infinity text-purple-m3"></i></li>
                    <li class="py-2">$100</li>
                    <li class="py-2 bgc-secondary-l4">5</li>
                    <li class="py-2">
                        <a href="#" class="my-2 btn btn-outline-purple btn-bold px-4">Order</a>
                    </li>
                </ul>
                <div class="position-bc w-100 border-t-1 brc-purple-m2 mt-1px"></div>
            </div>
        </div>
    </div>
</div>