<!doctype html>
<html lang="en">
  <head>
    {{> layout/_head}}
    {{{include-css files="dist/css/ace-themes.css@ace"}}}
  </head>

  <body>
   <div class="body-container">
      {{> layout/horizontal/navbar}}

      <div id="sidebar" class="sidebar sidebar-fixed sidebar-hover sidebar-h sidebar-white sidebar-top" data-swipe="true" data-backdrop="true" data-dismiss="true">
        {{> layout/horizontal/sidebar}}
      </div><!-- /#sidebar -->

      <div class="main-container content-bg1">

         <div role="main" class="main-content">
          <div class="page-content container container-plus px-md-4 px-xl-5">
           {{{body}}}
          </div><!-- /.page-content -->

          {{> layout/horizontal/footer}}
         </div><!-- /main -->
      
        {{!> layout/settings-box}}
      </div><!-- /.main-container -->


      {{> layout/_tail}}

   </div><!-- /.body-container -->
  </body>
</html>