<!doctype html>
<html lang="en">
  <head>
    {{> layout/_head}}
    {{{include-css files="dist/css/ace-themes.css@ace"}}}
  </head>

  <body>
   <div class="body-container">
      <div class="main-container content-bg1">
        
         <div id="sidebar" class="sidebar sidebar-white sidebar-fixed sidebar-backdrop expandable d-none d-xl-block" data-swipe="true" data-dismiss="true">
          {{> layout/layout-2/sidebar}}
         </div><!-- /#sidebar -->

         <div role="main" class="main-content">
          {{> layout/layout-2/navbar}}

          <div class="page-content container">
           {{{body}}}
          </div><!-- /.page-content -->

          {{> layout/layout-2/footer}}
         </div><!-- /main -->
      
        {{> layout/settings-box}}
      </div><!-- /.main-container -->


      {{> layout/_tail}}

   </div><!-- /.body-container -->
  </body>
</html>