<!doctype html>
<html lang="en">
  <head>
    {{> layout/_head}}
  </head>

  <body>
    <div class="body-container">
      
      <div class="main-container container">

         <div role="main" class="main-content minh-100 justify-content-center">
          <div class="p-2 p-md-4">
             {{{body}}}
          </div>
         </div><!-- /main -->
      
      </div><!-- /.main-container -->

      {{> layout/_tail}}
   </div><!-- /.body-container -->
  </body>
</html>