<!doctype html>
<html lang="en">
  <head>
    {{> layout/_head}}
    {{{include-css files="dist/css/ace-themes.css@ace"}}}
  </head>

  <body>
   <div class="body-container">
      
      <div class="main-container">
        <div id="sidebar1" class="sidebar expandable sidebar-fixed sidebar-dark" data-dismiss="true" data-backdrop="true" data-swipe="true">
         {{> layout/two-menus-1/sidebar1}}
        </div><!-- /#sidebar -->

         <div role="main" class="main-content">
          {{> layout/two-menus-1/navbar}}

          <div id="sidebar2" class="sidebar sidebar-fixed sidebar-hover sidebar-h collapsed-h sidebar-default" data-dismiss="true" data-backdrop="true" data-swipe="true">
            {{> layout/two-menus-1/sidebar2}}
          </div><!-- /#sidebar -->

          <div class="page-content container px-xl-5">
           {{{body}}}
          </div><!-- /.page-content -->

          {{> layout/footer}}
         </div><!-- /main -->
      
        {{!> layout/settings-box}}
      </div><!-- /.main-container -->


      {{> layout/_tail}}

   </div><!-- /.body-container -->
  </body>
</html>