<div class="page-header">
    <h1 class="page-title text-primary-d2">
        {{title}}
         <small class="page-info text-secondary-d2">
            <i class="fa fa-angle-double-right text-80"></i>
            buttons, groups &amp; badges
        </small>
    </h1>
</div>

<div class="my-5"></div>

<div class="row">
 <div class="col-12 col-md-6">
	<div class="d-flex justify-content-between border-b-1 brc-purple-m4 pb-1">
		<h4 class="font-light text-purple mr-md-5">
			Default Buttons
		</h4>

	    <button id="id-ripple" class="btn radius-2 btn-bold btn-light-primary">
            Enable Ripple Effect
        </button>
	</div>

	<p class="mt-4">
		<button class="btn btn-md btn-primary mb-2px">Primary</button>
        <button class="btn btn-md btn-secondary">Secondary</button>
		<button class="btn btn-md btn-info">Info</button>
		<button class="btn btn-md btn-success">Success</button>
	</p>
	<p>
		<button class="btn btn-md btn-warning mb-2px">Warning</button>
		<button class="btn btn-md btn-danger">Danger</button>
		<button class="btn btn-md btn-dark">Dark</button>
		<button class="btn btn-md btn-pink">Pink</button>
	</p>
	<p>
		<button class="btn btn-md btn-purple mb-2px">Purple</button>
		<button class="btn btn-md btn-yellow">Yellow</button>
		<button class="btn btn-md btn-grey">Grey</button>
		<button class="btn btn-md btn-light">Light</button>
	</p>

	<p>
		<button class="btn btn-md btn-default">Default</button>
		<button class="btn btn-md btn-brown">Brown</button>
	</p>

	<hr class="border-dotted w-75" />
	<p>
		<a href="#" class="btn btn-link text-primary">Link</a>
		<a href="#" class="btn btn-link text-purple">Purple</a>
		<a href="#" class="btn btn-link text-orange-d1">Warning</a>		
	</p>

	<p>
		<a href="#" class="text-blue b-underline-0 b-centered b-hovered no-underline pb-0 px-1 bgc-h-default-l3 radius-1">Some Long Text</a>
		<a href="#" class="bgc-h-blue-l2 p-1 text-dark-tp3 no-underline radius-3px px-3">Link 2</a>
	</p>
 </div>

 <div class="col-12 col-md-6">
	<h4 class="font-light text-danger-m2 border-b-1 brc-danger-m4 pb-1 mt-md-2">
		Outline Buttons
	</h4>

	<p class="mt-4">
		<button type="button" class="btn btn-smd btn-outline-primary fs--shadow mb-2px">Primary</button>
		<button type="button" class="btn btn-smd btn-outline-secondary fs--shadow mb-2px">Secondary</button>
		<button type="button" class="btn btn-smd btn-outline-info fs--shadow">Info</button>
		<button type="button" class="btn btn-smd btn-outline-success fs--shadow">Success</button>
		<button type="button" class="btn btn-smd btn-outline-warning fs--shadow">Warning</button>
	</p>
	<p>
		<button type="button" class="btn btn-smd btn-outline-danger btn-h-outline-danger fs--shadow mb-2px">Danger</button>
		<button type="button" class="btn btn-smd btn-outline-yellow btn-h-outline-yellow fs--shadow">Yellow</button>
		<button type="button" class="btn btn-smd btn-outline-pink btn-h-outline-pink fs--shadow">Pink</button>
		<button type="button" class="btn btn-smd btn-outline-purple btn-h-outline-purple btn-a-outline-purple fs--shadow">Purple</button>
	</p>
	<p>
		<button type="button" class="btn btn-smd btn-outline-dark btn-h-outline-dark btn-a-outline-dark mb-2px">Dark</button>
		<button type="button" class="btn btn-smd btn-outline-grey btn-h-outline-grey btn-a-outline-grey">Grey</button>
		<button type="button" class="btn btn-smd btn-outline-lightgrey">LightGrey</button>
		<button type="button" class="btn btn-smd btn-outline-light">Light</button>
		<button type="button" class="btn btn-smd btn-outline-black btn-bold radius-0">Black</button>
	</p>


	<hr class="border-dotted w-75" />
	<h4 class="font-light text-info mr-5">
		Light Buttons
	</h4>

	<p class="mt-3">
		<button class="btn btn-smd btn-light-primary font-bolder letter-spacing-1 mb-2px">Primary</button>
        <button class="btn btn-smd btn-light-success font-bolder">Success</button>
		<button class="btn btn-smd btn-light-warning btn-text-dark">Warning</button>
		<button class="btn btn-smd btn-light-purple">Purple</button>
	</p>

	<p>
		<button class="btn btn-smd btn-lighter-primary mb-2px">Lighter</button>
        <button class="btn btn-smd btn-lighter-secondary">Secondary</button>
		<button class="btn btn-smd btn-lighter-default">Default</button>
		<button class="btn btn-smd btn-lighter-danger">Danger</button>
	</p>

 </div>
</div><!-- .row -->

<hr />

<div class="row">
 <div class="col-sm-6">
	<h4 class="font-light text-orange-d2 b-underline-4">Misc Styles</h4>
	<p class="mt-4">
		<button type="button" class="btn btn-wide btn-outline-grey btn-h-pink btn-a-primary rounded-0">Different Colors For Different States</button>
	</p>
	<p class="mt-1">
		<button type="button" class="btn btn-wide btn-success btn-h-outline-success btn-a-outline-success border-2 mb-1">Outline on Hover</button>
		<button type="button" class="btn btn-smd btn-outline-lightgrey btn-text-blue btn-h-info btn-a-info mb-1">Different Text Color</button>
		<button type="button" class="btn btn-smd btn-blue btn-text-black mb-1">Different Text Color</button>
	</p>
	<p class="mt-1">
		<button type="button" class="btn btn-wide btn-bold btn-lighter-primary btn-h-outline-pink btn-a-grey">Light Button</button>
	</p>
	<p class="mt-1">
		<button type="button" class="btn btn-wide btn-bold btn-outline-primary btn-h-primary fs--outline border-0 btn-a-primary rounded-0">White Button</button>
		<button type="button" class="btn btn-wide btn-outline-primary btn-h-outline-primary fs--outline btn-a-primary btn-brc-tp">White Button</button>
	</p>

	<p class="mt-1">
		<button type="button" class="btn btn-md btn-primary btn-raised">.btn-raised</button>
		<button type="button" class="btn btn-md btn-secondary btn-h-raised">Raised on Hover</button>
	</p>
 </div>


 <div class="col-sm-6 bg-dark py-2 rounded-sm">
	<h3 class="font-light text-white">On a dark background</h3>
	<p class="mt-4">
		<button type="button" class="btn btn-wide border-1 brc-white-tp4 btn-grey btn-h-pink btn-a-primary rounded-0">Different Colors For Different States</button>
	</p>
	<p class="mt-1">
		<button type="button" class="btn btn-wide font-bolder btn-success btn-h-outline-success btn-a-outline-success border-2">Outline on Hover</button>
	</p>
	<p class="mt-4">
		<button type="button" class="btn btn-wide btn-blue btn-h-white btn-h-brc-tp btn-a-yellow radius-round">Blue White</button>
	</p>
	<p class="mt-1">
		<button type="button" class="btn btn-wide btn-bold btn-outline-primary btn-h-primary fs--outline text-white btn-a-primary rounded-0">White Button</button>
	</p>
	<p class="mt-1">
		<button type="button" class="btn btn-wide btn-bold btn-light-primary btn-h-light-danger mb-2px">Light Button</button>
		<button type="button" class="btn btn-bold btn-outline-white btn-text-white btn-h-text-warning btn-a-warning">White Outline</button>
	</p>
	
 </div>

</div>

<hr class="my-4" />

<div class="row">
	<div class="col-md-6">
		<h3 class="font-light text-secondary">Buttons with sliding text</h3>
		<div class="mt-4">
			<button class="btn btn-info btn-h-primary btn-text-slide btn-bold-down btn-wide text-120">
				<span class="btn-text-1">
					Slide Text
				</span>
				<span class="btn-text-2">
					Click Now
				</span>
			</button>

			<button class="btn btn-purple btn-text-slide btn-bold-down btn-wide text-120">
				<span class="btn-text-1 move-right">
					Out
				</span>
				<span class="btn-text-2 move-right">
					In
				</span>
			</button>

			<hr class="border-dotted brc-default-l1" />

			<button class="btn btn-outline-info btn-text-slide-x" style="width: 8rem;">
				Continue<i class="btn-text-2  move-right fa fa-arrow-right text-120 align-text-bottom ml-2"></i>
			</button>

			<button class="btn btn-success radius-1 border-b-2 px-0 py-2px btn-bold btn-text-slide-x" style="width: 8.5rem;">
				<span class="btn-text-2 move-right">
					<span class="d-inline-block bgc-white-tp9 shadow-sm radius-2px h-4 px-25 pt-1 mr-1 border-1">
						<i class="fa fa-arrow-right text-white-tp2 text-110 mt-3px"></i>
					</span>
				</span>Continue
			</button>

			<button class="btn btn-outline-purple btn-text-slide-x">
				<i class="btn-text-2  move-left fa fa-arrow-left text-120 align-text-bottom mr-2"></i>Go Back
			</button>

			<hr class="border-dotted brc-default-l1" />

			<button class="btn btn-secondary btn-h-success btn-a-success btn-xlg btn-text-slide-y direction-reverse  py-3 rounded-lg mb-2px">
				<i class="fa fa-check fa-2x px-2 btn-text-1 mt-n1"></i>
				<span class="text-75 btn-text-2 font-bolder">CONFIRM?</span>
			</button>

			<button class="btn btn-grey btn-h-danger btn-a-danger btn-smd btn-text-slide-y pt-2 pb-3">
				<i class="fa fa-trash-alt text-130 px-2 btn-text-1 mt-1"></i>
				<span class="text-95 btn-text-2">Delete?</span>
			</button>

			<button class="btn btn-md btn-default btn-h-warning btn-a-warning btn-text-slide-y p-2">
				<span class="btn-text-1">
					<i class="fa fa-envelope text-130 px-2"></i>
				</span>
				<span class="text-85 btn-text-2">Send?</span>
			</button>

			<button class="btn btn-md btn-red btn-text-slide-y btn-text-appear2 p-3 px-4">
				<i class="fa fa-upload text-120 px-1 btn-text-1"></i>
				<span class="text-80 font-bolder btn-text-2 btn-text-fade">UPLOAD</span>
			</button>
		</div>
	</div>

	<div class="col-md-6">
		<h3 class="font-light text-success">Button with Icons</h3>
		<p class="mt-3">
			<button class="btn btn-outline-info mb-2px">
				<i class="far fa-save text-140 align-text-bottom mr-1"></i> Backup
			</button>
			<button class="btn btn-outline-warning btn-h-outline-warning btn-a-outline-warning border-b-2">
				<i class="fa fa-trash-alt text-110 text-orange mr-1"></i> Delete
			</button>
			<button class="btn btn-outline-secondary btn-h-outline-warning btn-a-outline-danger rounded-lg border-b-2 btn-wide">
				<i class="fa fa-times text-110 text-danger-m1 mr-1"></i>
				Cancel
			</button>
		</p>
		<p>
			<button class="btn btn-danger radius-2 border-b-2 pl-2">
				<i class="w-4 h-4 bgc-black-tp9 radius-round fa fa-times text-white-tp2 mr-1 align-middle pt-2"></i>
				<span class="text-105 align-middle">Cancel</span>
			</button>

			<button class="btn btn-success  radius-1 border-b-2 d-inline-flex align-items-center pl-2px py-2px btn-bold">
				<span class="bgc-white-tp9 shadow-sm radius-2px h-4 px-25 pt-1 mr-25 border-1">
					<i class="fa fa-check text-white-tp2 text-110 mt-3px"></i>
				</span>
				Confirm
			</button>
		</p>
		<hr class="hr border-dotted my-4" />
		<p>
			<button class="btn btn-secondary btn-h-purple btn-a-purple mb-2px"><i class="fa fa-pencil-alt text-110 mr-1"></i> Secondary </button>
			<button class="btn btn-primary"><i class="fa fa-flask text-110 mr-1"></i> Primary</button>
			<button class="btn btn-info">Info <i class="fa fa-inbox text-110 ml-2"></i></button>
		</p>
		<p>
			<button class="btn btn-success mb-2px"><i class="fa fa-check mr-1"></i> Success</button>
			<button class="btn btn-sm btn-warning"><i class="fa fa-fire text-110 mr-1"></i> Warning</button>
			<button class="btn btn-xs btn-danger"><i class="fa fa-bolt text-110 align-text-bottom mr-1"></i> Danger <i class="fa fa-arrow-right ml-1"></i></button>
		</p>
		<p>
			<button class="btn btn-info"><i class="fa fa-signal text-150"></i></button>
			<button class="btn btn-yellow btn-xs"><i class="fa fa-wrench text-110"></i></button>		
			<button class="btn btn-danger btn-sm"><i class="fa fa-reply"></i></button>
		</p>
	</div>
</div>


<hr class="mb-5" />

<div class="row">
  <div class="col-12 col-lg-6">
 	<h3 class="font-light text-blue mb-4 border-b-1 brc-primary-l1 pb-1">Button Groups</h3>

	<div class="card border-0">
		<div class="card-header card-header-sm bgc-primary-tp2 border-0">
			<h4 class="card-title text-110 text-white-tp2">Choose your method of transportation</h4>
		</div>

		<div class="card-body bg-white border-1 border-t-0 brc-primary-l1">

<div class="row d-flex mx-1 mx-lg-0 btn-group btn-group-toggle" data-toggle="buttons">
					
					<div class="col-12 col-sm-4 px-2">
					  <label class="d-style w-100 border-t-3 my-1 py-3 btn btn-lighter-secondary btn-h-outline-purple btn-a-outline-purple">
						<input type="radio" name="payments" id="payments1" autocomplete="off" class="invisible pos-abs" />
						
						<span class="d-flex flex-column align-items-center">

							<span class="position-tr m-1 mr-2">
								<span class="d-active">
									<i class="fa fa-check text-success-m2 text-120"></i>
								</span>
							</span>

							<div class="mb-2">
								<i class="v-n-active fas fa-subway text-160 text-grey-m3 mr-n35"></i>
								<i class="v-active fas fa-subway text-200 text-purple-m2 ml-n2"></i>
							</div>			

							<div class="font-bolder text-secondary-m2 flex-grow-1">
								Subway				
								<div class="text-muted font-light">
									<span class="v-n-active">
										safe &amp; fast
									</span>
									<span class="v-active position-bl mb-3 w-100 text-center">
										from 1 USD
									</span>
								</div>
							</div>	
						
						</span>

					 </label>
					</div>

					<div class="col-12 col-sm-4 px-2">
					 <label class="d-style w-100 border-t-3 my-1 py-3 btn btn-lighter-secondary btn-h-outline-primary btn-a-outline-primary">
						<input type="radio" name="payments" id="payments2" autocomplete="off" class="invisible pos-abs" />
						<span class="d-flex flex-column align-items-center">

							<span class="position-tr m-1 mr-2">
								<span class="d-active">
									<i class="fa fa-check text-success-m2 text-120"></i>
								</span>
							</span>

							<div class="mb-2">
								<i class="v-n-active fas fa-plane text-200 text-grey-m3 mr-n4"></i>
								<i class="v-active fas fa-plane text-200 text-blue-m2 rotate-n45 ml-n3"></i>
							</div>

							<div class="font-bolder text-secondary-m2 flex-grow-1">
								Plane				
								<div class="text-muted font-light">
									<span class="v-n-active">
										superb!
									</span>
									<span class="v-active position-bl mb-3 w-100 text-center">
										but expensive
									</span>
								</div>
							</div>		
						
						</span>
					 </label>
					</div>

					<div class="col-12 col-sm-4 px-2">
					 <label class="d-style w-100  border-t-3 my-1 mx-0  py-3 btn btn-lighter-secondary btn-h-outline-warning btn-a-outline-warning">
						<input type="radio" name="payments" id="payments3" autocomplete="off" class="invisible pos-abs" />
						<span class="d-flex flex-column align-items-center">

							<span class="position-tr m-1 mr-2">
								<span class="d-active">
									<i class="fa fa-check text-success-m2 text-120"></i>
								</span>
							</span>

							<div class="mb-2">
								<i class="v-n-active fas fa-rocket text-200 text-grey-m3 mr-n4"></i>
								<i class="v-active fas fa-rocket text-200 text-warning-d2 rotate-n45 ml-n3"></i>
							</div>
							
							<div class="font-bolder text-secondary-m2 flex-grow-1">
								Rocket				
								<div class="text-muted font-light">
									<span class="v-n-active">
										astronomical
									</span>
									<span class="v-active position-bl mb-3 w-100 text-center">
										coming soon
									</span>
								</div>
							</div>
						
						</span>
					 </label>
					</div>

				</div>
		</div><!-- .card-body -->
	</div><!-- .card -->
	<hr />
	<div>
		<div class="bgc-success-m1 text-white py-3px px-2 radius-3px">
			How satisfied are you with our services?
		</div>
		
		<div class="btn-group btn-group-toggle w-100"  data-toggle="buttons">

			<label class="d-style w-100 border-none border-b-2 radius-0 my-1 px-3 btn btn-lighter-danger btn-brc-tp btn-a-outline-danger">
				<input type="radio" name="feedback" id="feedbkac1" autocomplete="off" />

				<span class="fa-stack w-auto text-150 d-zoom-1">
					<i class="fas fa-circle text-dark fa-stack-1x text-100"></i>
					<i class="fas fa-angry text-danger-m3 text-125 fa-stack-1x d-active pos-rel"></i>
					<i class="fas fa-angry text-grey-l5 text-125 fa-stack-1x d-n-active pos-rel"></i>
				</span>
			</label>

			<label class="d-style w-100 border-none border-b-2 radius-0 my-1 px-3 btn btn-lighter-warning btn-brc-tp btn-a-outline-warning">
				<input type="radio" name="feedback" id="feedbkac1" autocomplete="off" />

				<span class="fa-stack w-auto text-150 d-zoom-1">
					<i class="fas fa-circle text-dark fa-stack-1x text-100"></i>
					<i class="fas fa-frown text-orange-m2 text-125 fa-stack-1x d-active pos-rel"></i>
					<i class="fas fa-frown text-grey-l5 text-125 fa-stack-1x d-n-active pos-rel"></i>
				</span>
			</label>

			<label class="d-style w-100 border-none border-b-2 radius-0 my-1 px-3 btn btn-lighter-default btn-brc-tp btn-a-outline-default">
				<input type="radio" name="feedback" id="feedbkac1" autocomplete="off" />

				<span class="fa-stack w-auto text-150 d-zoom-1">
					<i class="fas fa-circle text-dark fa-stack-1x text-100"></i>
					<i class="fas fa-meh text-default-m3 text-125 fa-stack-1x d-active pos-rel"></i>
					<i class="fas fa-meh text-grey-l5 text-125 fa-stack-1x d-n-active pos-rel"></i>
				</span>
			</label>

			<label class="d-style w-100 border-none border-b-2 radius-0 my-1 px-3 btn btn-lighter-blue btn-brc-tp btn-a-outline-blue">
				<input type="radio" name="feedback" id="feedbkac1" autocomplete="off" />

				<span class="fa-stack w-auto text-150 d-zoom-1">
					<i class="fas fa-circle text-dark fa-stack-1x text-100"></i>
					<i class="fas fa-smile text-blue-m3 text-125 fa-stack-1x d-active pos-rel"></i>
					<i class="fas fa-smile text-grey-l5 text-125 fa-stack-1x d-n-active pos-rel"></i>
				</span>
			</label>

			<label class="d-style w-100 border-none border-b-2 radius-0 my-1 px-3 btn btn-lighter-success btn-brc-tp btn-a-outline-success active">
				<input type="radio" name="feedback" id="feedbkac1" autocomplete="off" checked />

				<span class="fa-stack w-auto text-150 d-zoom-1">
					<i class="fas fa-circle text-dark fa-stack-1x text-100"></i>
					<i class="fas fa-grin-beam text-success-m3 text-125 fa-stack-1x d-active pos-rel"></i>
					<i class="fas fa-grin-beam text-grey-l5 text-125 fa-stack-1x d-n-active pos-rel"></i>
				</span>
			</label>
		
		</div>
	</div>


	<hr class="border-dotted my-3" />
	<h4 class="font-light text-success mb-4 text-140">Button Dropdown</h4>

		<div class="dropdown">
			<button class="btn btn-smd btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Dropdown button
			</button>
			<div class="dropdown-menu dropdown-caret">
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
				<a class="dropdown-item" href="#">Something else here</a>
			</div>
		</div>
		<p></p>

		<div class="btn-group">
			<button type="button" class="btn btn-danger">Action</button>
			<button type="button" class="px-1 btn btn-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="sr-only">Toggle Dropdown</span>
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
				<a class="dropdown-item" href="#">Something else here</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Separated link</a>
			</div>
		</div>

		<div class="btn-group dropup">
			<button type="button" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Dropup
				<i class="ml-1 fa fa-caret-up"></i>
			</button>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
				<a class="dropdown-item" href="#">Something else here</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Separated link</a>
			</div>
		</div>

		<div class="btn-group dropright">
			<button type="button" class="btn btn-light-purple">
				Split dropright
			</button>
			<button type="button" class="btn btn-light-purple dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="sr-only">Toggle Dropright</span>
				<i class="fa fa-caret-right"></i>
			</button>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
				<a class="dropdown-item" href="#">Something else here</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Separated link</a>
			</div>
		</div>

		<!--
		<div class="btn-group dropleft">
			<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fa fa-caret-left mr-1"></i>
				Dropleft
			</button>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
				<a class="dropdown-item" href="#">Something else here</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Separated link</a>
			</div>
		</div>

		<p></p>

		<div class="btn-group">
			<button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Right-aligned menu
				<i class="fa fa-angle-down ml-1"></i>
			</button>
			<div class="dropdown-menu dropdown-menu-right">
				<button class="dropdown-item" type="button">Action</button>
				<button class="dropdown-item" type="button">Another action</button>
				<button class="dropdown-item" type="button">Something else here</button>
			</div>
		</div>
		-->

 </div>


 <div class="col-12 col-lg-6 pt-3 pt-lg-5">

	<div class="btn-group" role="group" aria-label="Basic example">
  		<button type="button" class="btn btn-md btn-secondary">Left</button>
  		<button type="button" class="btn btn-md btn-secondary">Middle</button>
  		<button type="button" class="btn btn-md btn-secondary">Right</button>
	</div>

	<p></p>
	<div class="btn-group">
		<button type="button" class="btn btn-smd btn-outline-primary">Left</button>
		<button type="button" class="btn btn-smd btn-outline-primary">Middle</button>
		<button type="button" class="btn btn-smd btn-outline-primary">Right</button>
	</div>

	<p></p>
	<div class="btn-group btn-group-vertical">
		<button class="btn btn-default" type="button">
			<i class="fa fa-align-left"></i>
		</button>

		<button class="btn btn-default" type="button">
			<i class="fa fa-align-center"></i>
		</button>

		<button class="btn btn-default" type="button">
			<i class="fa fa-align-right"></i>
		</button>

		<button class="btn btn-default" type="button">
			<i class="fa fa-align-justify"></i>
		</button>
	</div>
	
	<p></p>

	<div class="btn-group btn-group-toggle" data-toggle="buttons">
		<label class="btn px-4 btn-light-default btn-bgc-white btn-a-default active border-2">
			<input type="radio" name="options" id="option1" autocomplete="off" checked /> Active
		</label>
		<label class="btn px-4 btn-light-success btn-bgc-white btn-a-green border-2">
			<input type="radio" name="options" id="option2" autocomplete="off"> Radio
		</label>
		<label class="btn px-4 btn-light-danger btn-bgc-white btn-a-red border-2">
			<input type="radio" name="options" id="option3" autocomplete="off"> Radio
		</label>
	</div>


	<hr class="border-dotted" />
	<div>
		<span class="text-muted mr-1">Checkbox:</span>

		<div class="btn-group btn-group-toggle" data-toggle="buttons">
			<label class="btn btn-secondary btn-smd btn-a-blue">
				<input type="checkbox" value="1">
				<i class="fa fa-bold text-110"></i>
			</label>

			<label class="btn btn-secondary btn-smd btn-a-blue">
				<input type="checkbox" value="2">
				<i class="fa fa-italic text-110"></i>
			</label>

			<label class="btn btn-secondary btn-smd btn-a-blue">
				<input type="checkbox" value="3">
				<i class="fa fa-underline text-110"></i>
			</label>
		</div>
	</div>

	<div class="mt-1">
		<span class="text-muted mr-1">Radio:</span>
		<div data-toggle="buttons" class="btn-group  btn-group-toggle">
			<label class="btn btn-smd btn-primary">
				<input type="radio" value="1">
				<i class="fa fa-align-left"></i>
			</label>

			<label class="btn btn-smd btn-primary">
				<input type="radio" value="2">
				<i class="fa fa-align-center"></i>
			</label>

			<label class="btn btn-smd btn-primary">
				<input type="radio" value="3">
				<i class="fa fa-align-right"></i>
			</label>
		</div>

		<label class="btn btn-smd btn-green mb-0" data-toggle="button">
			<i class="fa fa-align-justify"></i>
		</label>
	</div>

 </div><!-- .col-6 -->


</div>


<hr class="my-4" />


<div class="row">
 <div class="col-md-6">
	<h3 class="font-light text-danger-m3 b-underline-5">Button Sizing</h3>
	<p class="mt-4">
		<button class="btn btn-info btn-sm">Small</button>
		<button class="btn btn-info">Normal</button>
		<button class="btn btn-secondary btn-md mb-2px">Medium</button>
		<button class="btn btn-info btn-lg">Large</button>
		<button class="btn btn-secondary btn-xlg">Very Large</button>
	</p>
	
	<p>
		<button class="btn btn-sm btn-dark btn-wide">Small</button>
		<button class="btn btn-danger btn-wide mb-2px">Wide</button>		
		<button class="btn btn-md btn-pink btn-wide mb-2px">Pink</button>
		<button class="btn btn-lg btn-success btn-wide">Success</button>
	</p>

	<hr class="border-dotted my-3" />

	<p>
		<button class="btn btn-md btn-danger btn-block">Block Button</button>
	</p>
 </div><!-- /.col -->

 <div class="col-md-6">
	<h4 class="font-light text-success b-underline-4">Focus states</h4>
	<p class="mt-3">
		<button class="btn btn-info fs--shadow mb-2px">shadow</button>
		<button class="btn btn-primary fs--outline">outline</button>
		<button class="btn btn-brown fs--solid">solid</button>
		<button class="btn btn-red fs--dashed">dashed</button>
		<button type="button" class="btn btn-success fs--raised">raised</button>
	</p>
	<p>
		<button class="btn btn-outline-info btn-h-outline-info btn-a-outline-info fs--shadow mb-2px">shadow</button>
		<button class="btn btn-light-warning btn-h-light-warning btn-a-light-warning fs--outline">outline</button>
		<button class="btn btn-light-primary btn-h-primary fs--solid">solid</button>
		<button class="btn btn-purple btn-h-outline-purple fs--dashed">dashed</button>
	</p>

	<hr class="border-dotted my-4" />

	<h4 class="font-light text-grey">Disabled Buttons</h4>
	<p>
		<button class="btn disabled btn-secondary mb-2px" tabindex="-1">Secondary </button>
		<button class="btn disabled btn-primary" tabindex="-1">Primary</button>
		<button class="btn disabled btn-info" tabindex="-1">Info</button>
		<button class="btn disabled btn-success" tabindex="-1">Success</button>
	</p>
 </div>

</div><!-- /.row -->


<hr class="border-dotted" />


<div class="row">
 <div class="col-12">
	<h3 class="font-light text-success-m1">Big Buttons</h3>
	<div class="mt-3">
		<button type="button" class="btn btn-app btn-primary my-1" id="btn-app-1">
			<i class="d-block h-6 fa fa-edit text-190"></i>
			Edit
			<span class="badge badge-warning badge-sm position-tl m-n2 badge-pill text-70 border-1 brc-dark-tp4">11</span>
		</button>

        <button type="button" class="btn btn-app btn-outline-secondary radius-1 my-1">
			<i class="d-block h-6 fa fa-cog text-190"></i>
			Settings
			<span class="badge badge-sm py-2px position-tr text-75 mt-1px text-dark-tp4">+3</span>
		</button>
		
		<button type="button" class="btn btn-app btn-success my-1">
			<i class="d-block h-6 fa fa-sync text-190"></i>
			Reload
		</button>
		
		<button type="button" class="btn btn-app btn-warning radius-1 my-1">
			<i class="d-block h-6 fa fa-undo text-190"></i>
			Undo
		</button>

		<button type="button" class="btn btn-app btn-info btn-sm radius-2 my-1">
			<i class="d-block h-5 fa fa-envelope text-170"></i>
			Mailbox
			<span class="position-tr text-dark-tp5 mr-1 text-90 font-bolder">6+</span>
		</button>
		
		<button class="btn btn-app btn-danger btn-sm my-1">
			<i class="d-block h-5 far fa-trash-alt text-170"></i>
			Delete
		</button>
		
		<button class="btn btn-app btn-purple btn-sm my-1">
			<i class="d-block h-5 fa fa-upload text-170"></i>
			Upload
		</button>
		
		<button class="btn btn-app btn-pink btn-sm my-1">
			<i class="d-block h-5 fa fa-share text-170"></i>
			Share
		</button>
		
		<button class="btn btn-app btn-dark btn-xs my-1">
			<i class="d-block h-4 fa fa-lock text-150"></i>
			Lock
		</button>
		
		<button class="btn btn-app btn-light btn-xs radius-3">
			<i class="d-block h-4 fa fa-save text-150"></i>
			Save
			<i class="position-tr m-1 fa fa-asterisk text-80 text-danger-m2"></i>
		</button>
		
		<button class="btn btn-app btn-grey btn-xs my-1">
			<i class="d-block h-4 fa fa-print text-150"></i>
			Print
		</button>

		<button type="button" class="btn btn-app btn-yellow btn-xs my-1">
			<i class="d-block h-4 fa fa-shopping-cart text-150"></i>
			Shop
		</button>
		
		
		<div class="btn-group" role="group">
			<button class="btn btn-app btn-pink btn-xs">
				<i class="d-block h-4 fa fa-share text-180"></i>
				Share
			</button>
			<button data-toggle="dropdown" class="btn btn-app btn-pink btn-xs dropdown-toggle"><span class="text-110 fa fa-caret-down"></span></button>
			<div class="dropdown-menu dropdown-pink" aria-labelledby="btnGroupDrop1">
			  <a class="dropdown-item" href="#">Action</a>
			  <a class="dropdown-item" href="#">Another action</a>
			  <a class="dropdown-item" href="#">Something else here</a>
			  <li class="divider"></li>
			  <a class="dropdown-item" href="#">Separated link</a>
			</div>
		</div><!-- /.btn-group -->
		
		
	</div>
 </div>

</div>



<hr class="mb-5" />


<div class="row">
	<div class="col-12 col-md-6">
		<h3 class="font-light text-success mb-4">Badges</h3>
		
		<p>
			<span class="badge badge badge-primary">Primary</span>
			<span class="badge badge badge-secondary arrowed-right">Secondary</span>
			<span class="badge badge badge-success arrowed-in radius-0">Success</span>
			<span class="badge badge-sm badge-warning arrowed arrowed-in-right">Warning</span>
			<span class="badge badge-sm badge-danger arrowed-in arrowed-in-right">Danger</span>
		</p>

		<p>
			<span class="badge badge-info badge-lg arrowed-in-right">Large Info</span>
			<span class="badge btn-pink badge-lg arrowed ml-n1">Pink</span>
		</p>

		<p>
			<span class="badge bgc-purple brc-purple text-white badge-xlg arrowed arrowed-in-right"><span class="px-3">Very Large Purple</span></span>
		</p>

		<p>
			<span class="badge bgc-primary-l4 text-primary-d2 brc-primary-m4 border-1">Light Primary</span>
			<span class="badge bgc-default-l4 text-default-d2 brc-default-m3 border-2 radius-round">Default</span>
			<span class="badge bgc-success-l4 text-success-d2 brc-success-m3 border-1">Success</span>
			<span class="badge border-1 border-l-3 brc-secondary-m4 text-secondary-d3 text-90 p-2">Primary</span>
		</p>
	</div>

	<div class="col-12 col-md-6">
		<h3 class="font-light text-purple-m1 mb-4">
			Pagination
		</h3>

		<p class="text-grey-m2">Default Paginations:</p>		
		<nav aria-label="Page navigation example">
			<ul class="pagination nav-tabs-scroll is-scrollable">
				<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
				<li class="page-item active"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				<li class="page-item"><a class="page-link" href="#">3</a></li>
				<li class="page-item"><a class="page-link" href="#">4</a></li>
				<li class="page-item"><a class="page-link" href="#">Next</a></li>
			</ul>
		</nav>

		<div class="h-1 my-1"></div>

		<nav aria-label="Page navigation example">
			<ul class="pagination pagination-lg nav-tabs-scroll is-scrollable">
				<li class="page-item disabled"><a class="page-link border-0 mr-2" href="#"><i class="fa fa-arrow-left"></i></a></li>
				<li class="page-item active"><a class="page-link" href="#">1</a></li>
				<li class="page-item"><a class="page-link" href="#">2</a></li>
				
				<li class="page-item disabled mx-2"><a class="page-link border-0" href="#">&hellip;</a></li>

				<li class="page-item"><a class="page-link" href="#">7</a></li>
				<li class="page-item"><a class="page-link" href="#">8</a></li>
				<li class="page-item"><a class="page-link border-0 ml-2" href="#"><i class="fa fa-arrow-right"></i></a></li>
			</ul>
		</nav>

		<div class="my-2"> </div>

		<nav aria-label="Page navigation example">
			<ul class="pagination nav-tabs-scroll is-scrollable">
				<li class="page-item mr-2"><a class="h-5 pt-25 page-link rounded-0 border-0 mr-2 text-95" href="#"><i class="fa fa-angle-left mr-1"></i> Previous</a></li>
				<li class="page-item mr-2"><a class="w-5 h-5 pt-2 page-link text-center rounded-circle" href="#">1</a></li>
				<li class="page-item mr-2"><a class="w-5 h-5 pt-2 page-link text-center rounded-circle" href="#">2</a></li>
				<li class="page-item mr-2 active"><a class="w-5 h-5 pt-2 page-link text-center rounded-circle" href="#">3</a></li>
				<li class="page-item mr-2"><a class="w-5 h-5 pt-2 page-link text-center rounded-circle" href="#">4</a></li>
				<li class="page-item mr-2"><a class="h-5 pt-25 page-link rounded-0 border-0 mr-2 text-95" href="#">Next <i class="fa fa-angle-right ml-1"></i></a></li>
			</ul>
		</nav>

		<div class="h-1"></div>

		<nav aria-label="Page navigation example">
			<ul class="pagination pagination-compact nav-tabs-scroll is-scrollable d-inline-flex mw-100 border-1 brc-secondary-l1 p-1">
				<li class="page-item"><a class="h-5 pt-25 page-link rounded-0 border-0 mr-2 text-95" href="#"><i class="fa fa-angle-left mr-1"></i> Previous</a></li>
				<li class="page-item"><a class="w-5 h-5 page-link text-center rounded-circle" href="#">1</a></li>
				<li class="page-item"><a class="w-5 h-5 page-link text-center rounded-circle" href="#">2</a></li>
				<li class="page-item active"><a class="w-5 h-5 page-link text-center rounded-circle" href="#">3</a></li>
				<li class="page-item"><a class="w-5 h-5 page-link text-center rounded-circle" href="#">4</a></li>
				<li class="page-item"><a class="h-5 pt-25 page-link rounded-0 border-0 mr-2 text-95" href="#">Next <i class="fa fa-angle-right ml-1"></i></a></li>
			</ul>
		</nav>

		<hr class="border-dotted" />

		<p class="text-orange-d2">Button Styled Paginations:</p>
		<nav aria-label="Page navigation example">
			<ul class="pagination nav-tabs-scroll is-scrollable mx-n3 mx-sm-0">
				<li class="page-item"><a class="page-link rounded-left btn btn-md btn-outline-default" href="#">Previous</a></li>
		 		<li class="page-item"><a class="active page-link rounded-0 btn btn-md btn-outline-default btn-a-success" href="#">1</a></li>
				<li class="page-item"><a class="page-link rounded-0 btn btn-md btn-outline-default" href="#">2</a></li>
				<li class="page-item"><a class="page-link rounded-0 btn btn-md btn-outline-default" href="#">3</a></li>
				<li class="page-item"><a class="page-link rounded-0 btn btn-md btn-outline-default" href="#">4</a></li>
				<li class="page-item"><a class="page-link rounded-right btn btn-md btn-outline-default" href="#">Next</a></li>
			</ul>
		</nav>
		
	</div>
</div>