<div class="page-header">
    <h1 class="page-title text-primary-d2">
        Editors
         <small class="page-info text-secondary-d2">
            <i class="fa fa-angle-double-right text-80"></i>
            Wysiwyg &amp; Markdown
        </small>
    </h1>

    <div class="page-tools">
        page tools
    </div>
</div>


<div class="row">
    <div class="col-12">
        <h3 class="text-success text-150 font-light mb-2">Summerote wysiwyg editor</h3>

        <form method="post">
            <textarea id="summernote" name="editordata"></textarea>
        </form>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-12 col-lg-6">

        <div class="card brc-success-tp2">
            <h3 class="card-header bgc-success-tp2 text-white text-130">Bootstrap lightweight editor</h3>
            <div class="card-body p-0">
                <div id="bootstrap-editor" class="bootstrap-wysiwyg-editor px-3 py-2"></div>
            </div>
        </div>
        
    </div>


    <div class="col-12 col-lg-6 mt-2 mt-lg-0">
    
        <div class="card brc-primary-tp2">
            <h3 class="card-header bgc-primary-tp2 text-white text-130">Markdown editor</h3>
            <div class="card-body p-0">
<textarea class="form-control" name="content" id="markdown-editor" rows="10">**Markdown Editor** inside a *widget box*

- list item 1
- list item 2
- list item 3</textarea>



            </div>

            <div class="card-footer bgc-primary-l3 border-t-0">
                <button type="button" class="float-right btn btn-sm btn-lighter-default btn-h-lighter-purple btn-a-lighter-purple border-b-2">
                    <i class="fa fa-save text-120 text-purple-m1"></i>
                </button>
            </div>
        </div>
        
    </div>
</div>