<div class="page-header">
    <h1 class="page-title text-primary-d2">
        {{title}}
    </h1>

    <div class="page-tools">
    </div>
</div>


<div class="row">
    <div class="col-12 col-md-4">
        <div class="pos-rel d-flex flex-column py-3 px-lg-3 justify-content-center align-items-center">
            <!-- OR use something like > `border-1 brc-default-l3 bgc-blue-l4 radius-2` for above -->
            <div class="d-none position-tl w-100 border-t-4 brc-blue-m2 radius-2"></div>


            <div class="pos-rel">
                <img src="assets/image/avatar/avatar5.jpg" class="radius-round bord1er-2 brc-warning-m1" />
                <span class=" position-tr bgc-success p-1 radius-round border-2 brc-white mt-2px mr-2px"></span>
            </div>

            <div class="text-center mt-2">
                <h5 class="text-120 text-secondary-d3">
                    Amy Smith
                </h5>                
                <span class="text-80 text-default-d1 text-600">UI/UX Designer</span>
                <span class="badge bgc-warning-l2 badge-xs text-600 text-orange-d2 pb-2 radius-round border-1 brc-warning-m2">pro</span>
            </div>

              <div>                                
                    <div class="mx-auto mt-25 text-center action-buttons">
                        <a href="#" class="mx-1">
                            <i class="fab fa-twitter-square text-180 text-blue2-m3"></i>
                        </a>
                        <a href="#" class="mx-1">
                            <i class="fab fa-facebook text-180 text-blue-d1"></i>
                        </a>
                        <a href="#" class="mx-1">
                            <i class="fab fa-instagram text-180 text-purple-m1"></i>
                        </a>
                    </div>
              </div>

            <hr class="w-90 mx-auto border-dotted"/>            

            <div class="text-center">
                <button type="button" class="btn btn-blue px-5">
                    <i class="fa fa-handshake mr-1 text-110"></i> Hire me!
                </button>
            </div>

            <hr class="w-90 mx-auto mb-1 border-dotted"/>

            <div class="mt-3">
                <a href="#" class="btn bgc-blue-l2 btn-brc-white btn-h-outline-blue radius-round py-2 px-1 text-center border-2 shadow-sm">
                    <i class="fa fa-envelope w-4 text-110 text-blue-m1"></i>
                </a>

                <a href="#" class="btn bgc-purple-l2 btn-brc-white btn-h-outline-purple radius-round py-2 px-1 text-center border-2 shadow-sm">
                    <i class="fa fa-users w-4 text-110 text-purple-m1"></i>
                </a>

                <a href="#" class="btn bgc-warning-l2 btn-brc-white btn-h-outline-warning radius-round py-2 px-1 text-center border-2  shadow-sm">
                    <i class="fa fa-star w-4 text-110 text-orange-m1"></i>
                </a>
            </div>

            <hr class="w-90 mx-auto mb-1 border-dotted"/>

             <div class="row w-90 text-center">

                <div class="col-4">
                    <div class="px-1 pt-2">
                        <span class="text-150 text-grey-d1">{{random 3 15}}</span>
                        <br />
                        <span class="text-grey-m3 text-90">photos</span>
                    </div>

                    <div class="position-rc h-75 border-l-1 brc-secondary-l2"></div>
                </div>

                <div class="col-4">
                    <div class="px-1 pt-2">
                        <span class="text-150 text-grey-d1">{{random 4 80}}</span>
                        <br />
                        <span class="text-grey-m3 text-90">followers</span>
                    </div>

                    <div class="position-rc h-75 border-l-1 brc-secondary-l2"></div>
                </div>
                
                <div class="col-4">
                    <div class="px-1 pt-2">
                        <span class="text-150 text-grey-d1">{{random 20 200}}</span>
                        <br />
                        <span class="text-grey-m3 text-90">likes</span>
                    </div>
                </div>
            </div>


            <hr class="w-90 mx-auto mb-1 border-dotted"/>

            <div class="mt-2 mx-3">
                <div class="text-secondary-d2 font-bolder text-90 mb-2">
                    Tags
                </div>
                <div class="text-left">
                    <span class="d-inline-block radius-round bgc-default-l2  text-dark-tp3 text-85 px-25 py-3px m-2px">
                        Reading
                    </span>
                    <span class="d-inline-block radius-round bgc-default-l3 border-1 brc-default-m3 text-dark-tp3 text-85 px-2 py-2px m-2px">
                        Excersise
                    </span>
                    <span class="d-inline-block radius-round bgc-default-l3 border-1 brc-default-m3 text-dark-tp3 text-85 px-2 py-2px m-2px">
                        Travel
                    </span>
                    <span class="d-inline-block radius-round bgc-blue-l3 border-1 brc-blue-m3 text-dark-tp4 text-85 px-2 pt-2px pb-1 m-2px">
                        Cooking
                    </span>
                    <span class="d-inline-block radius-round bgc-default-l3 border-1 brc-default-m3 text-dark-tp3 text-85 px-2 py-2px m-2px">
                        Politics
                    </span>
                    <span class="d-inline-block radius-round bgc-default-l3 border-1 brc-default-m3 text-dark-tp3 text-85 px-2 py-2px m-2px">
                        Tech
                    </span>
                </div>
            </div>

            <hr class="w-90 mx-auto mb-1 border-dotted"/>

            <div class="mt-2 w-100 text-90 text-secondary radius-1 px-25 py-3">
                <div class="d-flex mb-1">
                    <h6 class="text-600">
                        Overview
                    </h6>

                    <div class="dropdown ml-auto">
                        <a href="#" class="no-underline bgc-h-primary-l2 px-1 text-600 radius-1">
                            Weekly
                            <i class="fa fa-angle-down"></i>
                        </a>
                    </div>
                </div>

                <div class="border-1 brc-default-l2 shadow-sm radius-1 px-3 py-25 bgc-white ">
                    <div>
                        Task Progress:
                        <div class="progress mt-2px bgc-default-l3" style="height: 0.75rem;">
                            <div class="progress-bar bgc-purple" role="progressbar" style="width: 46%;" aria-valuenow="46" aria-valuemin="0" aria-valuemax="100">46%</div>
                        </div>
                    </div>

                    <div class="mt-4">
                        Projects:
                        <span class="float-right badge badge-pill bgc-secondary-l2 text-secondary-d2 text-90 px-3">
                            12
                        </span>
                    </div>

                    <div class="mt-2">
                        Emails:
                        <span class="float-right badge badge-pill bgc-secondary-l2 text-secondary-d2 text-90 px-3">
                            16
                        </span>
                    </div>

                    <div class="mt-2">
                        Posts:
                        <span class="float-right badge badge-pill bgc-secondary-l2 text-secondary-d2 text-90 px-3">
                            25
                        </span>
                    </div>

                    <div class="mt-2">
                        Comments:
                        <span class="float-right badge badge-pill bgc-secondary-l2 text-secondary-d2 text-90 px-3">
                            11
                        </span>
                    </div>

                    <div class="mt-2">
                        Likes:
                        <span class="float-right badge badge-pill bgc-secondary-l2 text-secondary-d2 text-90 px-3">
                            87
                        </span>
                    </div>
                </div>

            </div>
        </div><!-- .d-flex -->

        <div class="alert bgc-white radius-1 border-1 brc-grey-l2 mt-3 shadow-sm">
            <div class="position-tl w-100 border-t-4 brc-blue-m2 radius-2"></div>
            <div class="d-flex align-items-start">
                <h3 class="text-blue-d1 text-140 mb-3">Friends:</h3>
                <a href="#" class="text-info-d2 ml-auto no-underline px-1 brc-h-info-m1 border-b-2 text-600 text-80">View All</a>
            </div>

            <div class="d-flex flex-wrap">
                <img src="assets/image/avatar/avatar1.jpg" class="radius-round shadow border-3 brc-white" height="48" />
                <img src="assets/image/avatar/avatar2.jpg" class="radius-round shadow border-3 brc-white ml-n25" height="48" />
                <img src="assets/image/avatar/avatar3.jpg" class="radius-round shadow border-3 brc-white ml-n25" height="48" />
                <img src="assets/image/avatar/avatar4.jpg" class="radius-round shadow border-3 brc-white ml-n25" height="48" />
                <img src="assets/image/avatar/avatar5.jpg" class="radius-round shadow border-3 brc-white ml-n25" height="48" />
                <img src="assets/image/avatar/avatar6.jpg" class="radius-round shadow border-3 brc-white ml-n25" height="48" />
            </div>
        </div>
    </div><!-- .col -->



    <div class="col-12 col-md-8 1bgc-default-l4 pt-0 radius-1 d-flex flex-column pos-rel mt-2 mt-md-0">

        <div class="sticky-nav-md">
            <div class="position-tr w-100 border-t-4 brc-blue-m2 radius-2 d-md-none"></div>
            
            <ul id="profile-tabs" class="nav nav-tabs-scroll is-scrollable nav-tabs nav-tabs-simple p-1px pl-25 bgc-grey-l4 border-1 brc-grey-l2 radius-t-2" role="tablist">
                <li class="nav-item">
                    <a class="d-style nav-link active p-3 brc-blue" data-toggle="tab" href="#profile-tab-overview" role="tab" aria-controls="overview" aria-selected="true">
                        <span class="d-n-active">Overview</span>
                        <span class="d-active text-dark-tp3">Overview</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-style nav-link p-3 brc-blue" data-toggle="tab" href="#profile-tab-activity" role="tab" aria-controls="home" aria-selected="true">
                        <span class="d-n-active">Activity</span>
                        <span class="d-active text-dark-tp3">Activity</span>
                        <span class="badge badge-warning badge-pill ml-2px text-80">5</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-style nav-link p-3 brc-blue" data-toggle="tab" href="#profile-tab-timeline" role="tab" aria-controls="home" aria-selected="true">
                        <span class="d-n-active">Timeline</span>
                        <span class="d-active text-dark-tp3">Timeline</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-style nav-link p-3 brc-blue" data-toggle="tab" href="#profile-tab-edit" role="tab" aria-controls="home" aria-selected="true">
                        <span class="d-n-active">Edit Info <span class="text-danger">*</span></span>
                        <span class="d-active text-dark-tp3">Edit Info</span>
                    </a>
                </li>
            </ul>
        </div>


        <div class="tab-content px-0 tab-sliding border-1 flex-grow-1 radius-b-2 border-t-0 brc-grey-l2">
            <div class="tab-pane active show px-1 px-md-2 px-lg-3" id="profile-tab-overview">

                <div class="row mt-1">
                     <div class="col-12 px-4">

                        <div class="d-flex justify-content-center my-3 flex-wrap flex-equal">
                            <div class="border-1 brc-grey-l1 px-3 py-2 rounded text-center mx-1 mb-1">
                                <span class="text-170 text-blue">1,411</span>
                                <br />
                                <span class="text-90 text-dark-tp2">Views</span>
                            </div>

                            <div class="border-1 brc-grey-l1 px-3 py-2 rounded text-center text-blue mx-1 mb-1">
                                <span class="text-170">32</span>
                                <br />
                                <span class="text-90 text-dark-tp2">Followers</span>
                            </div>

                            <div class="border-1 brc-grey-l1 px-3 py-2 rounded text-center text-blue mx-1 mb-1">
                                <span class="text-170">5</span>
                                <br />
                                <span class="text-90 text-dark-tp2">Projects</span>
                            </div>

                            <div class="border-1 brc-grey-l1 py-2 rounded text-center text-success-m1  mx-1 mb-1">
                                <span class="text-170">8,650</span> <span class="text-100 text-grey-m3">USD</span>
                                <br />
                                <span class="text-90 text-dark-tp2">August Revenue</span>
                            </div>
                        </div>

                    </div>
                    
                    <div class="col-12 px-4 my-3">

                        <h4 class="mt-2 text-dark-m3 text-130">
                            <i class="fa fa-check text-purple-m2 p-2px border-2 text-80 radius-1 align-bottom mr-1"></i>
                            About Me
                        </h4>
                        <hr class="w-100 mx-auto mt-1 border-dotted"/>

                        <div class="d-flex flex-column flex-sm-row align-items-center align-items-sm-start mb-2 text-grey-d2 text-95">
                            <img src="assets/image/profile-about.jpg" class="radius-2 opacity-2 order-first order-sm-last mx-2" height="150" />
                            <div class="mt-2 mt-sm-0 flex-grow-1">
                                <p class="mb-1">
                                    Hello, may name is Amy. I'm a professional designer.
                                </p>
                                <p class="mb-1">
                                    My job is mostly lorem ipsuming and dolor sit ameting.
                                </p>
                                <p>
                                    As long as consectetur adipiscing elit...
                                    <a href="#" class="text-blue-m1">Read more</a>
                                </p>
                            </div>                           
                        </div>                        
                             
                    </div>

                    <div class="col-12 px-4">
                        <h4 class="text-dark-m3 text-140">
                            <i class="fa fa-lightbulb text-success-m2 mr-2px"></i>
                            My Skills
                        </h4>
                        <hr class="w-100 mx-auto mt-1 border-dotted"/>

                        <div id="skill-chart" class="d-flex justify-content-center mx-auto flex-wrap"></div>

                        <div class="mt-2 text-center">
                            <span class="d-inline-block radius-round bgc-blue-l2 text-dark-tp3 text-85 px-25 py-3px mx-2px my-2px">
                                Node.js
                            </span>
                            <span class="d-inline-block radius-round bgc-purple-l2 text-dark-tp3 text-85 px-25 py-3px mx-2px my-2px">
                                Docker
                            </span>
                            <span class="d-inline-block radius-round bgc-success-l2 text-dark-tp3 text-85 px-25 py-3px mx-2px my-2px">
                                Jenkins
                            </span>
                            <span class="d-inline-block radius-round bgc-default-l2 text-dark-tp3 text-85 px-25 py-3px mx-2px my-2px">
                                Database
                            </span>
                            <span class="d-inline-block radius-round bgc-warning-l2 text-dark-tp3 text-85 px-25 py-3px mx-2px my-2px">
                                Agile
                            </span>
                            <span class="d-inline-block radius-round bgc-purple-l2 text-dark-tp3 text-85 px-25 py-3px mx-2px my-2px">
                                VCS
                            </span>
                        </div>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-12 px-4 mb-3">

                        <h4 class="text-dark-m3 text-140">
                            <i class="fa fa-info text-blue-m2 mr-3px"></i>
                            More Info
                        </h4>
                        <hr class="w-100 mx-auto my-1 border-dotted"/>

                        
                        <div class="bgc-white px-1 bo1rder-1 brc-secondary-l2 radius-1">
                            <table class="table table table-striped-info table-borderless">
                                <tr>
                                    <td><i class="fa fa-user text-success-l1"></i></td>
                                    <td class="text-95 text-default-d3">Username</td>
                                    <td class="text-secondary-d2">amy_smith</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-envelope text-blue-m3"></i></td>
                                    <td class="text-95 text-default-d3">Email</td>
                                    <td class="text-secondary-d2 text-wrap">amy.smith@inc.com</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-phone text-purple-m3"></i></td>
                                    <td class="text-95 text-default-d3">Phone</td>
                                    <td class="text-secondary-d2">+1128934218</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-map-marker text-orange-m3"></i></td>
                                    <td class="text-95 text-default-d3">Location</td>
                                    <td class="text-secondary-d2">Dublin</td>
                                </tr>
                                <tr>
                                    <td><i class="far fa-clock text-secondary-m3"></i></td>
                                    <td class="text-95 text-default-d3">Last Active</td>
                                    <td class="text-secondary-d2">6 min ago</td>
                                </tr>
                            </table>
                        </div>

                    </div>

                   
                </div>

            </div>

            <div class="tab-pane px-1 px-md-2 px-lg-3" id="profile-tab-activity">
                <div>
                    <div class="d-flex m-3">
                        <h4 class="text-dark-tp4 text-130 p-0 m-0">Latest Activity</h4>
                        <button type="button" class="ml-auto btn btn-sm btn-outline-info btn-bold">View All</button>
                    </div>

                    <hr class="border-dotted mx-3" />

                    <div class="px-lg-3">
                        {{> page/activity}}
                    </div>

                </div>
            </div>


            <div class="tab-pane px-1 px-md-2 px-lg-3" id="profile-tab-timeline">
                {{> page/timeline}}
            </div>

            <div class="tab-pane px-1 px-md-2 px-lg-3" id="profile-tab-edit">
                {{> page/edit}}
            </div>
        </div>


    </div>
</div>

