<div class="row">
 <div class="shadow radius-1 overflow-hidden bg-white col-12 col-lg-10 offset-lg-1">

    <div class="row">

        <div class="d-none d-lg-flex col-lg-5 border-r-1 brc-default-l2 px-0">
           {{> page/intro}}
        </div>


        <div class="col-12 col-lg-7 py-lg-5 bgc-white px-0">
            <!-- you can also use tab links -->
            <ul class="d-none mt-n4 mb-4 nav nav-tabs nav-tabs-simple justify-content-end" role="tablist">                
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#id-tab-login" role="tab" aria-controls="login" aria-selected="true">
                        Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#id-tab-signup" role="tab" aria-controls="signup" aria-selected="false">
                        Signup
                    </a>
                </li>
            </ul>


            <div class="tab-content tab-sliding border-0 p-0" data-swipe="right">
         
                <div class="tab-pane active show mh-100 px-3 px-lg-0 pb-3" id="id-tab-login">
                    {{> page/login}}
                </div>


                <div class="tab-pane mh-100 px-3 px-lg-0 pb-3" id="id-tab-signup" data-swipe-prev="#id-tab-login">
                    {{> page/signup}}
                </div>


                <div class="tab-pane mh-100 px-3 px-lg-0 pb-3" id="id-tab-forgot" data-swipe-prev="#id-tab-login">
                    {{> page/forgot}}
                </div>

            </div><!-- .tab-content -->
        </div>
        
    </div>
    
 </div>
</div>

<div class="d-lg-none my-3 text-white-tp1 text-center">
    <i class="fa fa-leaf text-success-l3 mr-1 text-110"></i> Ace Company &copy; 2020
</div>