<div class="page-header">
    <h1 class="page-title text-primary-d2">
        {{title}}
         <small class="page-info text-secondary-d2">
            <i class="fa fa-angle-double-right text-80"></i>
            extended tables plugin
        </small>
    </h1>
</div>

<div id="table-toolbar">
    <button disabled autocomplete="off" id="remove-btn" class="btn btn-xs py-2 px-25 mr-3 bgc-white btn-outline-warning btn-h-outline-danger btn-a-outline-danger radius-round ">
        <i class="fa fa-trash text-125"></i>
    </button>
</div>

<div class="bgc-primary-d1 text-white px-3 py-25">
    <span class="text-90">Results for</span>
    "Latest Products"
</div>

<table class="table text-dark-m2 text-95" id="table">
</table>