<div id="loginBgCarousel" class="carousel slide minw-100 h-100">
  <ol class="carousel-indicators d-none">
    <li data-target="#loginBgCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#loginBgCarousel" data-slide-to="1"></li>
    <li data-target="#loginBgCarousel" data-slide-to="2"></li>
    <li data-target="#loginBgCarousel" data-slide-to="3"></li>
  </ol>

  <div class="carousel-inner minw-100 h-100">
    <div class="carousel-item active minw-100 h-100">
     <div style="background-image: url(assets/image/login-bg-1.svg);" class="bgc-primary-l4 d-flex flex-column align-items-center justify-content-center">
        <h1 class="mt-5"><a href="{{getPageLink 'dashboard'}}"><i class="fa fa-leaf text-success-m2 text-125"></i></a></h1>
        <h2 class="text-blue-d1">
            Ace <span class="text-80 text-dark-tp4">Application</span>
        </h2>

        <div class="mt-5 mx-4 text-120 text-dark-tp4 text-justify">            
            Join our community to make friends,<br /> meet experts &amp; receive exclusive offers!
            <hr class="mb-1" />
            <div>
                <a id="id-start-carousel" href="#" class="text-sm text-grey d-inline-block mt-3">
                    <i class="fas fa-image text-md text-purple-m2 mr-1"></i>
                    Change background image
                </a>
                <br />
                <a id="id-remove-carousel" href="#" class="text-sm text-grey d-inline-block mt-3">
                    <i class="fas fa-trash-alt text-md text-orange mr-1"></i>
                    Remove this section
                </a>
                <br />
                <a id="id-fullscreen" href="#" class="text-sm text-grey d-inline-block mt-3">
                    <i class="fa fa-expand text-md text-success-m2 mr-1"></i>
                    Make full-size 
                </a>
            </div>
        </div>

        <div class="mt-auto mb-4 text-dark-tp3">
            Ace Company &copy; 2020
        </div>
     </div>
    </div>

    <div class="carousel-item minw-100 h-100">
     <div style="background-image: url(assets/image/login-bg-2.svg);" class="d-flex flex-column align-items-center justify-content-start">
        <h1 class="mt-5"><i class="fa fa-leaf text-success-m2 text-125"></i></h1>
        <h2 class="text-blue-l1">
            Ace <span class="text-80 text-white-tp3">Application</span>
        </h2>
     </div>
    </div>

    <div class="carousel-item minw-100 h-100">
     <div style="background-image: url(assets/image/login-bg-3.jpg);" class="d-flex flex-column align-items-center justify-content-start">
        <div class="bgc-black-tp4 radius-1 p-3 w-90 text-center my-3 h-100">
            <h1><i class="fa fa-leaf text-success-m2 text-125"></i></h1>
            <h2 class="text-blue-l1">
                Ace <span class="text-80 text-white-tp3">Application</span>
            </h2>
        </div>
     </div>
    </div>

    <div class="carousel-item minw-100 h-100">
     <div style="background-image: url(assets/image/login-bg-4.jpg);" class="d-flex flex-column align-items-center justify-content-start">
        <h1 class="mt-5"><i class="fa fa-leaf text-success-m2 text-125"></i></h1>
        <h2 class="text-blue-d1">
            Ace <span class="text-80 text-dark-tp3">Application</span>
        </h2>
     </div>
    </div>

  </div>
</div>