<div class="alert bgc-success-l3 brc-success-l2 text-dark-tp3">
    <i class="fa fa-hand-point-right text-120 mr-1 text-brown-m2"></i>
    Clicking outside the slider area will hide it!
</div>

<div class="border-l-1 brc-secondary-m4 ml-4"><div class="ml-n4">

    <div class="d-flex align-items-center">
        <div class="w-6 h-6 bg-white border-1 brc-purple-m3 radius-round text-center p-2">
            <div class="my-2px text-purple-m3 text-95 font-bolder">July</div>
        </div>
        <div class="ml-3 text-120 text-purple-m1 font-bold">
            2019
        </div>
    </div>

    <div class="mt-2 ml-4">          
        <div class="ml-n3 mb-3">
            <button type="button" class="btn btn-lighter-warning btn-h-warning ml-n1 w-5 radius-round px-0">
                <i class="far fa-star"></i>
            </button>
            <span class="d-inline-block ml-2 text-secondary-m1">
                Alex bookmarked your post
            </span>
        </div>

        <div class="ml-n3 mb-3">
            <button type="button" class="btn btn-lighter-info btn-h-info ml-n1 w-5 radius-round px-0">
                <i class="fas fa-file-upload"></i>
            </button>
            <span class="d-inline-block ml-2 text-secondary-m1">
                Bob uploaded a new file
            </span>
        </div>

        <div class="ml-n3 mb-3">
            <button type="button" class="btn btn-lighter-success btn-h-success ml-n1 w-5 radius-round px-0">
                <i class="far fa-comment"></i>
            </button>
            <span class="d-inline-block ml-2 text-secondary-m1">
                Susan posted a comment
            </span>
        </div>
    </div>



    <div class="d-flex align-items-center mt-5">
        <div class="w-6 h-6 bg-white border-1 brc-secondary-m3 radius-round text-center p-2">
            <div class="my-2px text-secondary-m3 text-95 font-bolder">June</div>
        </div>
    </div>

    <div class="mt-2 ml-4">          
        <div class="ml-n3 mb-3">
            <button type="button" class="btn btn-lighter-purple btn-h-purple ml-n1 w-5 radius-round px-0">
                <i class="fas fa-cart-plus"></i>
            </button>
            <span class="d-inline-block ml-2 text-secondary-m1">
                Fred purchased a new book
            </span>
        </div>

        <div class="ml-n3 mb-3">
            <button type="button" class="btn btn-lighter-brown btn-h-brown ml-n1 w-5 radius-round px-0">
                <i class="fas fa-camera"></i>
            </button>
            <span class="d-inline-block ml-2 text-secondary-m1">
                Ben updated his profile photo
            </span>
        </div>

        <div class="ml-n3 mb-3">
            <button type="button" class="btn btn-lighter-primary btn-h-primary ml-n1 w-5 radius-round px-0">
                <i class="fas fa-hotel"></i>
            </button>
            <span class="d-inline-block ml-2 text-secondary-m1">
                Nick booked a nice hotel
            </span>
        </div>
    </div>


    <div class="d-flex align-items-center mt-5">
        <div class="w-6 h-6 bg-white border-1 brc-secondary-m3 radius-round text-center p-2">
            <div class="my-2px text-secondary-m3 text-95 font-bolder">May</div>
        </div>
    </div>

    <div class="mt-2 ml-4">          
        <div class="ml-n3 mb-3">
            <button type="button" class="btn btn-lighter-warning btn-h-warning ml-n1 w-5 radius-round px-0">
                <i class="far fa-star"></i>
            </button>
            <span class="d-inline-block ml-2 text-secondary-m1">
                Alex bookmarked your post
            </span>
        </div>

        <div class="ml-n3 mb-3">
            <button type="button" class="btn btn-lighter-info btn-h-info ml-n1 w-5 radius-round px-0">
                <i class="fas fa-file-upload"></i>
            </button>
            <span class="d-inline-block ml-2 text-secondary-m1">
                Bob uploaded a new file
            </span>
        </div>

        <div class="ml-n3 mb-3">
            <button type="button" class="btn btn-lighter-success btn-h-success ml-n1 w-5 radius-round px-0">
                <i class="far fa-comment"></i>
            </button>
            <span class="d-inline-block ml-2 text-secondary-m1">
                Susan posted a comment
            </span>
        </div>
    </div>


</div></div>