<div class="row">
 <div class="col-md-6">
    <h4 class="text-purple-m1 text-130 pb-2 mb-3">Accordions</h4>
    
    <div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="card-title">
                <a class="accordion-toggle" href="#collapseOne" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
                    <i class="fa fa-angle-right toggle-icon mr-1"></i>
                    Collapsible Group Item #1
                </a>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="card-title">
                <a class="accordion-toggle collapsed" href="#collapseTwo" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo">
                    <i class="fa fa-angle-right toggle-icon mr-1"></i>
                    Collapsible Group Item #2
                </a>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="card-title">
                <a class="accordion-toggle collapsed d-style" href="#collapseThree" data-toggle="collapse" aria-expanded="false" aria-controls="collapseThree">
                    <i class="fa fa-plus d-collapsed mr-1"></i>
                    <i class="fa fa-minus d-n-collapsed mr-1"></i>
                    Collapsible Group Item #3
                </a>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
    </div>

</div>



 <div class="col-md-6 pt-4 pt-md-5">
   
    <div class="accordion" id="accordionExample2">
        <div class="card border-0">
            <div class="card-header border-0 bg-transparent" id="headingOne2">
                <h2 class="card-title">
                    <a class="accordion-toggle bgc-success-l3 rounded-lg d-style" href="#collapseOne2" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne2">
                        
                        <span class="v-n-collapsed h-100 position-tl border-l-3 brc-success-tp2"></span>                        
                        <span class="text-success-m1">
                            <i class="fa fa-angle-right toggle-icon mr-1"></i>
                            Collapsible Group Item #1
                        </span>

                    </a>
                </h2>
            </div>

            <div id="collapseOne2" class="collapse show" aria-labelledby="headingOne2" data-parent="#accordionExample2">
                <div class="card-body text-grey-d3">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>


        <div class="card border-0">
            <div class="card-header border-0 bg-transparent" id="headingTwo2">
                <h2 class="card-title">
                    <a class="accordion-toggle bgc-success-l3 collapsed rounded-lg d-style" href="#collapseTwo2" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo2">
                        
                        <span class="v-n-collapsed h-100 position-tl border-l-3 brc-success-tp2"></span>
                        <span class="text-success-m1">
                            <i class="fa fa-angle-right toggle-icon mr-1"></i>
                            Collapsible Group Item #2
                        </span>

                    </a>
                </h2>
            </div>
            <div id="collapseTwo2" class="collapse" aria-labelledby="headingTwo2" data-parent="#accordionExample2">
                <div class="card-body text-grey-d3">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>


        <div class="card border-0">
            <div class="card-header border-0 bg-transparent" id="headingThree2">
                <h2 class="card-title">
                    <a class="accordion-toggle bgc-primary-l3 d-style collapsed rounded-lg d-style" href="#collapseThree3" data-toggle="collapse" aria-expanded="false" aria-controls="collapseThree3">
                        
                        <span class="v-n-collapsed h-100 position-tl border-l-3 brc-primary-tp2"></span>
                        <span class="text-blue-m1">
                            <i class="fa fa-plus mr-1 mt-3px v-collapsed pos-abs"></i>
                            <i class="fa fa-minus mr-1 v-n-collapsed"></i>
                            Collapsible Group Item #3
                        </span>

                    </a>
                </h2>
            </div>
            <div id="collapseThree3" class="collapse" aria-labelledby="headingThree2" data-parent="#accordionExample2">
                <div class="card-body text-grey-d3">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>

 </div>
</div>