<!-- Aside examples -->
<div class="modal" id="aside-1" tabindex="-1" role="dialog" aria-hidden="true">
  
  <div class="modal-dialog" role="document">
    <div class="modal-content shadow border-0 radius-0">

      <div class="modal-header p-0 radius-0 border-none border-t-3 brc-primary-tp2 shadow-sm">
        <h5 class="flex-grow-1 text-blue-m1 text-120 py-3 ml-3 mb-0">
          <i class="fas fa-history text-purple-m2"></i>
          Latest Activity
          <span class="badge bgc-warning-l2 text-orange-d2 radius-round float-right mr-3">3 New</span>
        </h5>

        <a href="#" class="close m-0 border-l-1 brc-grey-m2" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </a>
      </div>

      <div class="modal-body" ace-scroll='{"smooth": true}'>
        {{> page/_activity}}
      </div>

      <div class="modal-footer radius-0 justify-content-center">
          <button type="button" class="btn btn-success" data-dismiss="modal">See All Activities</button>
      </div>

    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- .ace-aside -->



<div class="container container-plus modal modal-nb ace-aside aside-right aside-below-nav" data-backdrop="false" id="aside-2" tabindex="-1" role="dialog" aria-hidden="true">
  
  <div class="modal-dialog" role="document">
    <div class="modal-content radius-0 shadow">

      <div class="modal-header p-0 radius-0">
        <div class="btn-group h-100">

          <button type="button" class="m-0 btn btn-light-default btn-h-light-success  btn-modal-nav border-0 brc-white-tp2 radius-0">
            <i class="fa fa-arrow-left"></i>
          </button>

          <button type="button" class="m-0 btn btn-light-default btn-h-light-success btn-modal-nav border-y-0 brc-white-tp2 radius-0">
            <i class="fa fa-arrow-right"></i>
          </button>

        </div>

        <h5 class="modal-title flex-grow-1 text-blue py-3 ml-3">Sample Slider</h5>

        <button type="button" class="close po1sition-tr m-0" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>

      <div class="modal-body">
        This slider is suitable for boxed layout and will be shown inside the boxed area.
      </div>

      <div class="modal-footer radius-0">
          <button type="button" class="btn btn-light radius-0 m-0" data-dismiss="modal">Continue</button>
          <button type="button" class="btn btn-danger radius-0 m-0">Undo changes</button>
      </div>

    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- .ace-aside -->




<div class="modal d-style  modal-nb ace-aside aside-top aside-offset" id="aside-top-1" data-backdrop="false" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content border-0 bgc-black-tp2 radius-0">

      <div class="modal-body">
        <div class="row">
          <div class="col-12 col-md-6 align-self-center text-white text-center">
              <h4>
                Bootstrap Grid &amp; Elements
              </h4>
          </div>

          <div class="col-12 col-md-6 text-center">
              <button type="button" class="btn btn-sm btn-app btn-default radius-1">
                <i class="fa fa-cog fa-2x d-block"></i>
                Settings
              </button>

              <button type="button" class="btn btn-sm btn-app btn-primary radius-1">
                <i class="fa fa-edit fa-2x d-block"></i>
                Edit
              </button>

              <button type="button" class="btn btn-sm btn-app btn-grey radius-1">
                <i class="fa fa-print fa-2x d-block"></i>
                Print
              </button>
          </div>   
        </div>
      </div>
     
    </div><!-- .modal-content -->

    <div class="aside-header">
      <button type="button" class="btn py-4 btn-app btn-xs btn-dark radius-t-0" data-toggle="modal" data-target="#aside-top-1">
          <i class="fa fa-angle-double-down v-n-show position-center"></i>
          <i class="fa fa-angle-double-up v-show position-center"></i>
      </button>
    </div>

  </div><!-- .modal-dialog -->
</div><!-- .ace-aside -->


<div class="modal container modal-nb ace-aside aside-top aside-c aside-below-nav modal-dismiss" id="aside-top-2" data-backdrop="false" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content border-0 bgc-primary-tp1 radius-t-0">

      <div class="modal-body">
        <div class="row">
          <div class="col-12 align-self-center text-white text-center">
              <h4>
                Custom Elements
              </h4>
          </div>

          <div class="col-12 text-center">
              <button type="button" class="btn btn-xs btn-app btn-light-warning radius-1">
                <i class="fa fa-cog fa-2x d-block"></i>
                Settings
              </button>

              <button type="button" class="btn btn-xs btn-app btn-light-primary radius-1">
                <i class="fa fa-edit fa-2x d-block"></i>
                Edit
              </button>

              <button type="button" class="btn btn-xs btn-app btn-light-success radius-1">
                <i class="fa fa-print fa-2x d-block"></i>
                Print
              </button>
          </div>   
        </div>
      </div>
     
    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- .ace-aside -->



<div class="modal container margin-3 modal-nb ace-aside aside-bottom aside-c aside-fade" id="aside-bottom-1" data-backdrop="false" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">


    <div id="draggable-1" class="modal-content border-1 border-y-3 brc-success-m2 shadow bgc-white-tp1">
      <div class="modal-header p-0 border-0">
         <button type="button" class="position-tr mr-n3 mt-n3 btn btn-sm btn-light-warning border-2 brc-warning-tp2 radius-round px-2" data-dismiss="modal"><i class="fa fa-times text-115"></i></button>
      </div>

      <div class="modal-body d-flex align-items-center justify-content-center">        
        <div class="row">
          <div class="col-12">
              <div class="text-center font-bolder text-120">
                  <span class="text-blue-m2">Draggable</span>
                  +
                  <span class="text-purple-m2">Resizable</span>
              </div>
          </div>
        </div>
      </div>
     
    </div>

 
  </div>
</div>

<div class="modal d-style fade container container-plus ace-aside aside-bottom aside-r aside-offset" id="aside-bottom-2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">

    <div class="modal-content border-0 bg-transparent">
      <div class="modal-body border-2 brc-warning-m3 shadow bgc-white-tp2 radius-t-1">
        <div class="row">
          <div class="col-12">
              <div style="height: 100px;"></div>
          </div>
        </div>
      </div>
      
      <div class="aside-header align-self-center d-flex align-items-end">
        <button type="button" class="v-n-show shadow btn px-3 py-2 btn-success radius-b-0" data-toggle="modal" data-target="#aside-bottom-2">
            <i class="fas fa-chevron-up w-2"></i>
        </button>
        <button type="button" class="position-bl v-show shadow-sm btn px-3 py-2 btn-warning radius-b-0" data-toggle="modal" data-target="#aside-bottom-2">
            <i class="fa fa-times w-2"></i>
        </button>
      </div>

    </div>

 
  </div>
</div>



<div class="modal margin-4 modal-nb ace-aside aside-bottom aside-r" data-backdrop="false" id="aside-cookie" tabindex="-1" role="dialog" aria-hidden="false">
  
  <div class="modal-dialog mr-4" style="width: 320px;" role="document">
    <div class="modal-content bgc-white-tp1 radius-1 border-1 border-t-3 brc-primary-m1">
      <div class="modal-body text-center">
        <i class="fas fa-cookie-bite fa-3x text-brown-m3"></i>
        <div class="text-secondary-d1 mt-3">
            Sample dialog for "We use cookies on this site".
        </div>
      </div>

      <div class="modal-footer">
            <button type="button" class="btn btn-light btn-bold" data-dismiss="modal">
                Settings
            </button>
            <button type="button" class="btn btn-primary btn-bold" data-dismiss="modal">
                Continue
            </button>
      </div>

    </div>
  </div>

</div>



<div class="modal  modal-nb ace-aside aside-bottom aside-r aside-fade aside-offset" data-backdrop="false" id="aside-support" tabindex="-1" role="dialog" aria-hidden="false">
  
  <div class="modal-dialog mr-2" style="width: 480px;" role="document">
    <div class="modal-content border-0 bg-transparent mb-4 radius-1 shadow">
      <div class="modal-body bg-transparent p-0">
        {{> page/_conversation}}
      </div>
    </div>

    <div class="aside-header fade position-br mb-5 d-flex align-items-center">
        
        <div  style="cursor:pointer;" class="animation-appear d-none d-md-block shadow py-2 pl-3 pr-4 radius-round bg-white border-2 brc-info-tp2 text-secondary-d2"  data-toggle="modal" data-target="#aside-support">
         <div style="max-width: 220px;" class="text-95 pt-1">
            <img src="assets/image/user.jpg" class="mr-2 float-left radius-round border-1 brc-primary-m2" />
             Hey there, if you want to talk, I'm available
             <span class="fa-stack w-auto mt-n2px ">
                <i class="fas fa-circle text-dark fa-stack-1x text-100"></i>
                <i class="fas fa-smile-wink text-warning-m3 text-125 fa-stack-1x"></i>
             </span>
         </div>                 
        </div>

        <button type="button" class="shadow ml-2 btn btn-info radius-round mw-auto p-3"  data-toggle="modal" data-target="#aside-support">
            <i class="fas fa-headset text-150 px-2px"></i>
        </button> 
    </div>
  </div>

</div>




<div class="modal modal-nb ace-aside aside-right aside-offset aside-m aside-hover" data-backdrop="false" id="aside-tools" tabindex="-1" role="dialog" aria-hidden="true">
  
  <div class="modal-dialog" role="document" style="width: 240px;">
     <div class="modal-content visible radius-l-2 radius-r-0 bgc-white-tp2  overflow-hidden border-0 shadow bgc-whitep-tp1 h-auto">
       <div class="modal-body pl-2 pr-1 py-2">

              <div class="btn-group btn-group-vertical w-100" >
                <button class="radius-1 mb-2 shadow-none btn btn-outline-default btn-h-light-success btn-a-light-success border-0 text-left">
                   <i class="fas fa-sliders-h text-success-m1 text-120 w-4"></i>
                   <span class="text-95 font-bolder">Open Settings</span>
                </button>
          
                <button class="radius-1 mb-2 shadow-none btn btn-outline-default btn-h-light-purple btn-a-light-purple border-0 t1ext-white text-left">
                   <i class="fa fa-paper-plane text-purple-m1 text-120 w-4"></i>
                   <span class="text-95 font-bolder">Add New Post</span>
                </button>
          
                <button class="radius-1 mb-2 shadow-none btn btn-outline-default btn-h-light-primary btn-a-light-primary border-0 tex1t-white text-left">
                   <i class="fa fa-search text-blue-m1 text-120 w-4"></i>
                   <span class="text-95 font-bolder">Advanced Search</span>
                </button>
          
                <button class="radius-1 mb-0 shadow-none btn btn-outline-default btn-h-light-warning btn-a-light-warning border-0 tex1t-white mr-0 text-left">
                   <i class="fa fa-bell icon-animated-vertical text-warning-d1 text-120 w-4"></i>
                   <span class="text-95 font-bolder">Notifications</span>
                   <span class="text-danger-m2 text-90 font-bolder float-right">+3</span>
                </button>
             </div>
       
      </div>
    </div><!-- .modal-content -->

  </div><!-- .modal-dialog -->
</div><!-- .ace-aside -->
