<div class="row">
    <div class="col-12 col-md-6 tabs-above">

        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li class="nav-item mr-1px">
                <a class="nav-link active text-left radius-0" id="home-tab" data-toggle="tab" href="#home1" role="tab" aria-controls="home" aria-selected="true">
                    <i class="fa fa-edit text-blue-m1 mr-3px"></i>
                    Edit
                </a>
            </li>
            <li class="nav-item mr-1px">
                <a class="nav-link text-left radius-0" id="profile-tab" data-toggle="tab" href="#profile1" role="tab" aria-controls="profile" aria-selected="false">
                    <i class="fa fa-flask text-pink-m2 mr-3px"></i>
                    Profile
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-left radius-0" id="contact-tab" data-toggle="tab" href="#contact1" role="tab" aria-controls="contact" aria-selected="false">
                    <i class="fa fa-cog text-secondary-m2 mr-3px"></i>
                    More
                </a>
            </li>
        </ul>

        <div class="tab-content rounded-bottom">
            <div class="tab-pane fade show active text-95" id="home1" role="tabpanel" aria-labelledby="home-tab">
                <div class="font-bolder mb-1 text-purple-m2 text-120">Default Tabs</div>
                Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse.
            </div>
            <div class="tab-pane fade text-95" id="profile1" role="tabpanel" aria-labelledby="profile-tab">
                Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.
            </div>
            <div class="tab-pane fade text-95" id="contact1" role="tabpanel" aria-labelledby="contact-tab">
                Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica.
            </div>
        </div>

    </div>

    <div class="col-12 col-md-6 mt-4 mt-md-0">
        <ul class="nav nav-tabs nav-tabs-simple nav-tabs-scroll border-b-1 brc-secondary-l2 mx-n3 mx-md-0 px-3 px-md-0" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home0" role="tab" aria-controls="home" aria-selected="true">
                    <i class="fa fa-home text-success-m2 mr-3px"></i>
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link brc-purple-tp2  d-style" id="profile-tab" data-toggle="tab" href="#profile0" role="tab" aria-controls="profile" aria-selected="false">
                    <i class="fa fa-user text-purple-m2 mr-3px"></i>
                    <span class="d-n-active">Profile</span>
                    <span class="d-active text-purple">Profile</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact0" role="tab" aria-controls="contact" aria-selected="false">
                    <i class="fa fa-plus text-blue-m2 mr-3px"></i>
                    More
                </a>
            </li>
        </ul>

        <div class="tab-content tab-sliding px-0 mx-n3 mx-md-0">
            <div class="tab-pane show active text-95 px-3 px-md-2" id="home0" role="tabpanel" aria-labelledby="home-tab">
                <p class="text-600 mb-1 text-warning-d2 text-120">Simple tabs with sliding animation</p>
                <p class="mb-2 text-secondary-d2 text-110">With swiping enabled on touch devices.</p>
                Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua.
            </div>
            <div class="tab-pane text-95 px-3 px-md-2" id="profile0" role="tabpanel" aria-labelledby="profile-tab">
                Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.
            </div>
            <div class="tab-pane text-95 px-3 px-md-2" id="contact0" role="tabpanel" aria-labelledby="contact-tab">
                Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica.
            </div>
        </div>
    </div>

</div>



<div class="h-1 my-2 my-md-4"></div>


<div class="row">
    <div class="col-12 col-md-6">
        <div class="tabbable tabs-above">
       
            <ul class="nav nav-tabs nav-tabs-color-blue border-1 border-b-0 pt-2" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home2-tab" data-toggle="tab" href="#home2" role="tab" aria-controls="home" aria-selected="true">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile2-tab" data-toggle="tab" href="#profile2" role="tab" aria-controls="profile" aria-selected="false">
                        Profile
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact2-tab" data-toggle="tab" href="#contact2" role="tab" aria-controls="contact" aria-selected="false">
                        More
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active text-95" id="home2" role="tabpanel" aria-labelledby="home-tab">
                    Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse.
                </div>
                <div class="tab-pane fade text-95" id="profile2" role="tabpanel" aria-labelledby="profile-tab">
                    Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.
                </div>
                <div class="tab-pane fade text-95" id="contact2" role="tabpanel" aria-labelledby="contact-tab">
                    Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica.
                </div>
            </div>

        </div>
    </div>


    <div class="col-12 col-md-6 mt-4 mt-md-0">
        <ul class="nav nav-fill nav-tabs nav-tabs-simple nav-tabs-scroll mx-n3 mx-md-0 border-y-2 brc-default-l1 py-2 px-1 px-md-0" role="tablist">
            <li class="nav-item mr-2px mb-0">
                <a data-toggle="tab" href="#home01" class="w-100 active radius-1 border-0 btn btn-light-secondary btn-h-light-blue btn-a-blue" role="tab" aria-selected="true">
                    <i class="fa fa-home text-105 mr-3px"></i>
                    Home
                </a>
            </li>
            <li class="nav-item mx-2px mb-0">
                <a data-toggle="tab" href="#profile01" class="w-100 radius-1 border-0 btn btn-light-secondary btn-h-light-purple btn-a-purple" role="tab" aria-selected="false">
                    <i class="fa fa-user text-105 mr-3px"></i>
                    Profile
                </a>
            </li>
            <li class="nav-item mx-2px mb-0">
                <a data-toggle="tab" href="#contact01" class="w-100 radius-1 border-0 btn btn-light-secondary btn-h-light-success btn-a-success" role="tab" aria-selected="false">
                    <i class="fa fa-plus mr-3px"></i>
                    More
                </a>
            </li>
        </ul>

        <div class="tab-content tab-sliding p-0 mx-n3 mx-md-0 my-3px text-grey-d3">
            <div class="tab-pane show active p-2" id="home01" role="tabpanel" aria-labelledby="home-tab">
                Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua.
            </div>
            <div class="tab-pane p-2" id="profile01" role="tabpanel" aria-labelledby="profile-tab">
                Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.
            </div>
            <div class="tab-pane p-2" id="contact01" role="tabpanel" aria-labelledby="contact-tab">
                Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica.
            </div>
        </div>
    </div>

</div>

